.catalog {
  .baner_section.hero_section {
    margin-top: 0;
    h2 {
      @include fz_110;
      max-width: 65%;
    }
  }
  @include tablet {
    .baner_section.hero_section {
      margin-bottom: 0;
      .wrap {
        height: 465px;
      }
      .header_block {
        display: none;
      }
    }
    .breadcrumbs {
      display: none;
    }
  }
}

.product_list {
  @extend %adaptivePaddingSection;
  .wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-auto-flow: row dense;
    grid-template-areas:
      ". . . ."
      ". . promoCartOne promoCartOne"
      ". . promoCartOne promoCartOne"
      "promoCartTwo promoCartTwo . ."
      "promoCartTwo promoCartTwo . ."
      ". . . .";
  }
  article.cart {
    position: relative;
    .add_to_cart_round {
      position: absolute;
      top: 9px;
      right: 9px;
      display: none;
      //   z-index: 3;
    }
    .wrap_img {
      background-color: rgba(243, 243, 243, 1);
      border-radius: $radiusMiniPc;

      overflow: hidden;
    }
    img {
      width: 100%;
      object-fit: cover;
    }
    h2 {
      text-align: center;
    }
    .description_wrap {
      width: 60%;
      padding-top: 35px;
      .description_prod {
        font-size: 14px;
        @include fz_14;
        opacity: 0.4;
        margin-bottom: 19px;
        text-transform: uppercase;
      }
      .price_prod {
        font-size: 18px;
        @include fz_18;
        font-weight: 500;
      }
    }
    &.promo_cart {
      position: relative;
      a {
        height: 100%;
        display: block;
      }
      &.one {
        grid-area: promoCartOne;
      }
      &.two {
        grid-area: promoCartTwo;
      }
      .wrap_img {
        height: 100%;
      }

      img {
        display: none;
        height: 100%;
        &.promo_img {
          display: block;
        }
      }
      .description_wrap {
        @include fluid-height(max-width, 280);
        color: rgb(255, 255, 255);
        position: absolute;
        bottom: 48px;
        left: 33px;
      }
    }
  }

  @include desktop(1900) {
    article.cart {
      .description_wrap {
        padding-top: 23px;
        .description_prod {
          margin-bottom: 16px;
        }
      }
    }
  }
  @include desktop(1600) {
    article.cart {
      .description_wrap {
        .description_prod {
          margin-bottom: 16px;
        }
      }
    }
  }
  @include desktop(1400) {
    article.cart {
      .description_wrap {
        .description_prod {
          margin-bottom: 14px;
        }
      }
    }
  }
  @include mobile(1000) {
    .wrap {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: none;
      column-gap: 7px;
      row-gap: 37px;
    }
    article {
      &.cart {
        .add_to_cart_round {
          display: flex;
        }
        .description_wrap {
          width: 60%;
          padding-top: 22px;
          .description_prod {
            margin-bottom: 15px;
            font-size: 12px;
          }
          .price_prod {
            font-size: 15px;
          }
        }

        &.promo_cart {
          .add_to_cart_round {
            color: #000000;
            background-color: #ffffff;
            top: 15px;
            right: 15px;
          }
          &.one {
            grid-area: auto;
            grid-column: span 2;
          }
          &.two {
            grid-area: auto;
            grid-column: span 2;
          }
        }
        &.promo_cart {
          .wrap_img {
            height: auto;
          }
          .description_wrap {
            position: static;
            color: rgba(0, 0, 0, 0.4);
            .description_prod {
              font-weight: 500;
              font-size: 12px;
              line-height: 125%;
              color: rgba(0, 0, 0, 0.4);
            }
            .price_prod {
              font-weight: 500;
              font-size: 15px;
              line-height: 160%;
              color: #000;
            }
          }
        }
      }
    }
  }
  @include mobile {
    article {
      &.cart {
        .description_wrap {
          width: 90%;
          padding-top: 20px;
          .description_prod {
            margin-bottom: 13px;
          }
        }
      }
    }
  }
}
