.btn_more {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 8px;
  font-size: 16px;
  @include fz_16;
  font-weight: 400;
  text-transform: uppercase;
  line-height: normal;
  &.dark {
    font-size: 16px;
    img {
      height: 19px;
      width: 19px;
    }
  }
  &:hover {
    opacity: 0.7;
    text-decoration: underline;
  }
  img {
    @include tablet {
      width: 24px;
      height: 24px;
    }
  }
  .desktop {
    @include tablet {
      display: none;
    }
  }
  @include tablet {
    font-weight: 400;
    font-size: 16px;
    img {
      height: 19px;
      width: 19px;
    }
  }
}

.btn_read_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 8px;
  font-size: 12px;
  font-weight: 400;
  padding: 7px;
  padding-left: 27px;
  border-radius: 35px;
  background-color: white;
  white-space: nowrap;
  &:hover {
    opacity: 0.7;
    text-decoration: underline;
  }
}
.btn_read_news {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 8px;
  font-size: 12px;
  font-weight: 400;
  padding: 0;
  border-radius: 35px;
  background-color: white;
  white-space: nowrap;
}

// Кнопка новости
.btn_filters_news {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30;
  min-width: 200px;
  flex-flow: row nowrap;
  padding: 15px 20px 15px 45px;
  border: 1px solid #000000;
  border-radius: $radiusMidiPc;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  white-space: nowrap;
  &.dark {
    background-color: rgba(0, 0, 0, 1);
    color: rgb(255, 255, 255);
  }
}

// Кнопка фильтра
button.filters_but,
button.sort_but {
  display: flex;
  align-items: center;
  gap: 9px;
  width: fit-content;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
  font-size: 20px;
  @include fz_20;
  text-transform: uppercase;
  @include mobile {
    font-size: 14px;
    img {
      width: 15px;
      height: 15px;
    }
  }
}

// Кнопка формы
.submit_but {
  width: fit-content;
  background-color: rgba(0, 0, 0, 1);
  border: none;
  border-radius: 12px;
  padding: 12px 24px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

// woocommerce
// Кнопка добавить в карзину
.single_add_to_cart_button,
.wc-block-cart__submit-button {
  display: block;
  text-align: center;
  padding: 20px 30px;
  border-radius: $radiusMidiPc;
  background-color: rgba(0, 0, 0, 1);
  width: fit-content;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-size: 14px;
  &:hover {
    opacity: 0.8;
  }
}
.request_cons {
  padding: 20px 30px;
  border-radius: $radiusMidiPc;
  background-color: transparent;
  width: fit-content;
  color: rgba(157, 157, 157, 1);
  border: 1px solid rgba(157, 157, 157, 1);
  text-transform: uppercase;
  font-size: 14px;
  &:hover {
    opacity: 0.8;
  }
}

button {
  &.menu_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27px;
    height: 27px;
    background: $UiBackgroundColor;
    border: none;
    border-radius: 4px;
  }
}
