// Хлебные крошки
.breadcrumbs {
  margin: 35px 30px 45px;
  font-size: 14px;
  font-weight: 600;
  color: rgba(120, 117, 117, 1);
  a {
    color: rgb(0, 0, 0);
    display: inline-flex;
    align-items: center;
    width: fit-content;
    gap: 9px;
    padding-top: 1px;
    &:hover {
      color: rgba(120, 117, 117, 1);
      text-decoration: underline;
    }
  }
  @include desktop(1600) {
  }
  @include desktop(1400) {
  }
  @include desktop(1200) {
  }
  @include tablet {
    margin: 30px 19px;
  }
  @include mobile {
    margin: 25px 19px;
  }
}

// Блок фильтров

.filters_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 58px 24px 49px 24px;
  @include desktop(1600) {
    margin: 58px 24px 49px 24px;
  }
  @include desktop(1400) {
    margin: 30px 20px 30px 20px;
  }
  @include desktop(1200) {
    margin: 20px 18px 20px;
  }
  @include tablet {
    margin: 36px 16px 32px;
  }
}
