// Хлебные крошки
.breadcrumbs {
  margin: 35px 30px 45px;
  font-size: 14px;
  font-weight: 600;
  color: rgba(120, 117, 117, 1);
  a {
    color: rgb(0, 0, 0);
    display: inline-flex;
    align-items: center;
    width: fit-content;
    gap: 9px;
    padding-top: 1px;
    &:hover {
      color: rgba(120, 117, 117, 1);
      text-decoration: underline;
    }
  }
  @include desktop(1600) {
  }
  @include desktop(1400) {
  }
  @include desktop(1200) {
  }
  @include tablet {
    margin: 30px 19px;
  }
  @include mobile {
    display: none;
    margin: 25px 19px;
  }
}

// Блок фильтров

.filters_block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 58px 24px 49px 24px;
  z-index: 2;
  .col {
    position: relative;
    &.sort_filter {
      .dropdown_items {
        right: 0;
      }
      input {
        &[type="radio"] {
          display: none;
          &:checked + span {
            color: #8d8d8d;
          }
        }
      }
      fieldset {
        margin: 0;
      }
      ul {
        margin: 0;
      }
      label {
        // justify-content: flex-end;
      }
    }
    .dropdown_items {
      position: absolute;
      top: 150%;
      z-index: 99;
      padding: 15px;
      padding-top: 20px;
      background-color: rgb(255, 255, 255);
      min-width: 230px;
      border: 1px solid #eae4e0;
      border-radius: 8px;
      transition: opacity 0.3s ease;
      &.desabled {
        opacity: 0;
        pointer-events: none;
      }
    }
    fieldset {
      @include fluid-height(margin-bottom, 32);
      button {
        @include fluid-height(margin-top, 24);
        font-weight: 400;
        @include fz_14;
        text-transform: lowercase;
        color: #0c0c0d;
        border: none;
        background: transparent;
        padding-top: 5px;
        border-top: 1px solid rgba(190, 190, 190, 1);
        width: 100%;
        text-align: left;
      }
    }
    legend {
      font-weight: 400;
      @include fz_16;
      text-transform: uppercase;
    }
    ul {
      @include fluid-height(margin-top, 20);
      li {
        @include fluid-height(margin-bottom, 14);
        font-weight: 300;
        @include fz_16;
        color: #353535;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    input {
      &[type="checkbox"] {
        @include fluid-height(width, 20);
        @include fluid-height(height, 20);
        border-radius: 4px;
      }
    }
    label {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      @include fluid-height(gap, 16);
    }
  }
  @include desktop(1600) {
    margin: 58px 24px 49px 24px;
  }
  @include desktop(1400) {
    margin: 30px 20px 30px 20px;
  }
  @include desktop(1200) {
    margin: 20px 18px 20px;
  }
  @include tablet {
    margin: 36px 16px 32px;
  }
  @include tablet {
    .col {
      legend {
        font-size: 16px;
      }
      ul {
        li {
          font-size: 16px;
        }
      }
      fieldset {
        button {
          font-size: 14px;
        }
      }
    }
  }
}

// Блок поиска
.search_block_header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: rgb(255, 255, 255);
  padding: 2% 26px 3.5%;
  transition: top 1s ease;
  &.desabled {
    top: -105%;
  }
  .wrap_position {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .btn_close {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
    img {
      @include fluid-height(width, 12);
    }
  }
  .wrap_block {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .logo {
    @include fz_60;
  }
  .form_block {
    width: 100%;
    max-width: 73%;
    border-bottom: 1px solid #acacac;
    @include fluid-height(padding-bottom, 7);
  }
  .search-form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  input {
    border: none;

    outline: none;
    &.search_input {
      text-transform: uppercase;
      font-weight: 500;
      @include fz_14;
      color: rgba(0, 0, 0, 1);
    }
  }
  @include tablet {
    padding-bottom: 33px;
    .form_block {
      max-width: 100%;
      margin-top: 141px;
      padding-bottom: 15px;
    }
    .logo {
      font-size: 30px;
      align-self: flex-start;
      margin-top: 15px;
      margin-right: auto;
    }
    input {
      &.search_input {
        font-size: 14px;
      }
    }
    .search_btn_header {
      font-size: 14px;
    }
  }
  @include mobile {
    .form_block {
      border: none;
    }
    .search-form {
      flex-flow: column nowrap;
    }
    input {
      &.search_input {
        padding-bottom: 20px;
        margin-bottom: 40px;
        border-bottom: 1px solid #acacac;
      }
    }
    .search_btn_header {
      width: 100%;
    }
  }
}
