// Хлебные крошки
.breadcrumbs {
  margin: 35px 30px 45px;
  font-size: 14px;
  font-weight: 600;
  color: rgba(120, 117, 117, 1);
  a {
    color: rgb(0, 0, 0);
    display: inline-flex;
    align-items: center;
    width: fit-content;
    gap: 9px;
    padding-top: 1px;
    &:hover {
      color: rgba(120, 117, 117, 1);
      text-decoration: underline;
    }
  }
  @include desktop(1600) {
  }
  @include desktop(1400) {
  }
  @include desktop(1200) {
  }
  @include tablet {
    margin: 30px 19px;
  }
  @include mobile {
    margin: 25px 19px;
  }
}

// Блок фильтров

.filters_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 58px 24px 49px 24px;
  @include desktop(1600) {
    margin: 58px 24px 49px 24px;
  }
  @include desktop(1400) {
    margin: 30px 20px 30px 20px;
  }
  @include desktop(1200) {
    margin: 20px 18px 20px;
  }
  @include tablet {
    margin: 36px 16px 32px;
  }
}

// Блок поиска
.search_block_header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: rgb(255, 255, 255);
  padding: 2% 26px 3.5%;
  transition: top 1s ease;
  &.desabled {
    top: -105%;
  }
  .wrap_position {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .btn_close {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
    img {
      @include fluid-height(width, 12);
    }
  }
  .wrap_block {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .logo {
    @include fz_60;
  }
  .form_block {
    width: 100%;
    max-width: 73%;
    border-bottom: 1px solid #acacac;
    @include fluid-height(padding-bottom, 7);
  }
  .search-form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  input {
    border: none;

    outline: none;
    &.search_input {
      text-transform: uppercase;
      font-weight: 500;
      @include fz_14;
      color: rgba(0, 0, 0, 1);
    }
  }
  @include tablet {
    padding-bottom: 33px;
    .form_block {
      max-width: 100%;
      margin-top: 141px;
      padding-bottom: 15px;
    }
    .logo {
      font-size: 30px;
      align-self: flex-start;
      margin-top: 15px;
      margin-right: auto;
    }
    input {
      &.search_input {
        font-size: 14px;
      }
    }
    .search_btn_header {
      font-size: 14px;
    }
  }
  @include mobile {
    .form_block {
      border: none;
    }
    .search-form {
      flex-flow: column nowrap;
    }
    input {
      &.search_input {
        padding-bottom: 20px;
        margin-bottom: 40px;
        border-bottom: 1px solid #acacac;
      }
    }
    .search_btn_header {
      width: 100%;
    }
  }
}
