@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Carattere&display=swap");
* {
  box-sizing: border-box; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul,
li {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: inherit;
  text-decoration: none; }

* {
  font-family: "HelveticaNeueCyr", Arial, sans-serif; }

.hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease; }

.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto; }

a {
  text-decoration: none;
  color: black; }

header {
  padding: 30px 30px; }
  header .logo {
    margin: 0 auto;
    width: fit-content;
    font-size: 60px;
    font-family: "Carattere", cursive;
    color: #144918; }
  header .options_block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    gap: 22px;
    margin-right: auto;
    font-size: 14px; }
  header .language-dropdown,
  header .сurrency-dropdown {
    position: relative; }
    header .language-dropdown .dropdownMenu,
    header .сurrency-dropdown .dropdownMenu {
      position: absolute;
      top: 150%;
      left: 0;
      list-style: none;
      padding-left: 0;
      z-index: 1000;
      width: fit-content; }
      header .language-dropdown .dropdownMenu li.active a,
      header .сurrency-dropdown .dropdownMenu li.active a {
        opacity: 1; }
      header .language-dropdown .dropdownMenu li a,
      header .сurrency-dropdown .dropdownMenu li a {
        display: flex;
        padding: 6px;
        padding-left: 0;
        gap: 10px;
        opacity: 0.6;
        white-space: nowrap;
        text-transform: uppercase; }
        header .language-dropdown .dropdownMenu li a:hover,
        header .сurrency-dropdown .dropdownMenu li a:hover {
          opacity: 1; }
  header button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: transparent;
    border: none;
    cursor: pointer; }
  header .icons_block ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    margin-left: auto;
    list-style: none; }
    header .icons_block ul a {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      width: 45px;
      height: 45px; }
      header .icons_block ul a:hover {
        background-color: rgba(217, 217, 217, 0.3); }

.top_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap; }
  .top_header > div {
    flex: 1; }

.main_menu {
  margin-top: 40px; }
  .main_menu ul {
    list-style: none; }
  .main_menu > ul {
    display: flex;
    justify-content: center;
    gap: 3%; }
    .main_menu > ul > li {
      position: relative; }
    .main_menu > ul > li > a {
      font-weight: 600; }
  .main_menu a {
    font-size: 14px;
    text-transform: uppercase; }
    .main_menu a:hover {
      color: #144918;
      text-decoration: underline; }
  .main_menu h6 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
    text-transform: uppercase;
    white-space: nowrap; }
  .main_menu .dropdawnWrap {
    position: absolute;
    z-index: 1000;
    display: flex;
    border-radius: 12px;
    flex-direction: row;
    width: fit-content;
    padding: 27px 24px;
    top: 200%;
    left: -22px;
    gap: 47px;
    background-color: #fff; }
    .main_menu .dropdawnWrap .baner img {
      border-radius: 12px;
      margin-left: 28px; }
  .main_menu .sub_menu {
    line-height: 1.6; }
    .main_menu .sub_menu a {
      font-family: "HelveticaNeueCyr", sans-serif;
      font-size: 16px;
      text-transform: none;
      font-weight: 100; }
      .main_menu .sub_menu a:hover {
        color: #838383; }

.video_cover {
  width: 100%;
  object-fit: cover; }

section {
  width: 100%;
  margin-bottom: 78px; }
  section h2 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal; }
  section .header_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px; }

.video_baner .wrap {
  width: 100%;
  overflow: hidden; }

.stripe_section {
  padding: 0 19px; }
  .stripe_section .stripe_slider {
    width: 100%;
    overflow: hidden; }
  .stripe_section article.cart .wrap_img {
    background-color: #f3f3f3;
    border-radius: 10px;
    margin-bottom: 35px; }
  .stripe_section article.cart img {
    width: 100%;
    object-fit: cover; }
  .stripe_section article.cart h2 {
    text-align: center; }

.new_collection {
  position: relative;
  color: white; }
  .new_collection .header_section {
    width: 100%;
    position: absolute;
    bottom: 50px;
    padding-left: 19px;
    padding-right: 19px;
    align-items: flex-end; }
    .new_collection .header_section .btn_more {
      font-size: 25px;
      margin-bottom: 19px;
      color: white; }
  .new_collection h2 {
    font-size: 200px;
    letter-spacing: -3%;
    vertical-align: bottom;
    text-transform: none; }
  .new_collection .description {
    margin-left: 15px;
    font-size: 60px;
    letter-spacing: -3%;
    margin-bottom: 10px;
    font-weight: 400; }

.btn_more {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase; }
  .btn_more:hover {
    opacity: 0.7;
    text-decoration: underline; }

/*# sourceMappingURL=styles.css.map */
