@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Carattere&display=swap");
* {
  box-sizing: border-box; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul,
li {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: inherit;
  text-decoration: none; }

* {
  font-family: "HelveticaNeueCyr", Arial, sans-serif; }

.hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease; }

.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto; }

.logo {
  width: fit-content;
  font-size: 60px;
  font-family: "Carattere", cursive;
  color: #144918; }

a {
  text-decoration: none;
  color: black; }

header {
  padding: 30px 30px; }
  header .logo {
    margin: 0 auto; }
  header .options_block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    gap: 22px;
    margin-right: auto;
    font-size: 14px; }
  header .language-dropdown,
  header .сurrency-dropdown {
    position: relative; }
    header .language-dropdown .dropdownMenu,
    header .сurrency-dropdown .dropdownMenu {
      position: absolute;
      top: 150%;
      left: 0;
      list-style: none;
      padding-left: 0;
      z-index: 1000;
      width: fit-content; }
      header .language-dropdown .dropdownMenu li.active a,
      header .сurrency-dropdown .dropdownMenu li.active a {
        opacity: 1; }
      header .language-dropdown .dropdownMenu li a,
      header .сurrency-dropdown .dropdownMenu li a {
        display: flex;
        padding: 6px;
        padding-left: 0;
        gap: 10px;
        opacity: 0.6;
        white-space: nowrap;
        text-transform: uppercase; }
        header .language-dropdown .dropdownMenu li a:hover,
        header .сurrency-dropdown .dropdownMenu li a:hover {
          opacity: 1; }
  header button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: transparent;
    border: none;
    cursor: pointer; }
  header .icons_block ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    margin-left: auto;
    list-style: none; }
    header .icons_block ul a {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      width: 45px;
      height: 45px; }
      header .icons_block ul a:hover {
        background-color: rgba(217, 217, 217, 0.3); }

.top_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap; }
  .top_header > div {
    flex: 1; }

.main_menu {
  margin-top: 40px; }
  .main_menu ul {
    list-style: none; }
  .main_menu > ul {
    display: flex;
    justify-content: center;
    gap: 3%; }
    .main_menu > ul > li {
      position: relative; }
    .main_menu > ul > li > a {
      font-weight: 600; }
  .main_menu a {
    font-size: 14px;
    text-transform: uppercase; }
    .main_menu a:hover {
      color: #144918;
      text-decoration: underline; }
  .main_menu h6 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
    text-transform: uppercase;
    white-space: nowrap; }
  .main_menu .dropdawnWrap {
    position: absolute;
    z-index: 1000;
    display: flex;
    border-radius: 12px;
    flex-direction: row;
    width: fit-content;
    padding: 27px 24px;
    top: 200%;
    left: -22px;
    gap: 47px;
    background-color: #fff; }
    .main_menu .dropdawnWrap .baner img {
      border-radius: 12px;
      margin-left: 28px; }
  .main_menu .sub_menu {
    line-height: 1.6; }
    .main_menu .sub_menu a {
      font-family: "HelveticaNeueCyr", sans-serif;
      font-size: 16px;
      text-transform: none;
      font-weight: 100; }
      .main_menu .sub_menu a:hover {
        color: #838383; }

.video_cover {
  width: 100%;
  object-fit: cover; }

section {
  width: 100%;
  margin-bottom: 78px; }
  section h2 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal; }
  section .header_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px; }

.video_baner .wrap {
  width: 100%;
  overflow: hidden; }

.stripe_section {
  padding: 0 19px; }
  .stripe_section .stripe_slider {
    width: 100%;
    overflow: hidden; }
  .stripe_section article.cart .wrap_img {
    background-color: #f3f3f3;
    border-radius: 10px;
    margin-bottom: 35px; }
  .stripe_section article.cart img {
    width: 100%;
    object-fit: cover; }
  .stripe_section article.cart h2 {
    text-align: center; }
  .stripe_section article.cart .description_wrap {
    width: 60%; }
    .stripe_section article.cart .description_wrap .description_prod {
      font-size: 14px;
      opacity: 0.4;
      margin-bottom: 19px;
      text-transform: uppercase; }
    .stripe_section article.cart .description_wrap .price_prod {
      font-size: 18px;
      font-weight: 500; }

.slider_section {
  padding: 0 19px; }
  .slider_section .img_slider {
    width: 100%;
    overflow: hidden;
    height: 432px; }
  .slider_section .swiper-slide {
    width: fit-content; }
  .slider_section a {
    display: block;
    width: fit-content; }
  .slider_section article .wrap_img {
    background-color: #f3f3f3;
    border-radius: 10px;
    margin-bottom: 35px;
    height: 100%;
    overflow: hidden; }
  .slider_section article img {
    width: 100%;
    max-height: 432px;
    object-fit: contain; }

.baner_section {
  position: relative;
  color: white; }
  .baner_section .header_block {
    width: 100%;
    position: absolute;
    bottom: 100px;
    padding-left: 19px;
    padding-right: 19px;
    align-items: flex-end;
    margin-bottom: 0; }
    .baner_section .header_block .btn_more {
      font-size: 25px;
      margin-bottom: 0px;
      color: white; }
  .baner_section .description_wrap {
    display: flex;
    flex-direction: column;
    gap: 50px; }
  .baner_section h2 {
    margin: 0;
    font-size: 200px;
    vertical-align: bottom;
    text-transform: none; }
    .baner_section h2.medium_fs {
      font-size: 110px; }
  .baner_section .description {
    font-size: 60px;
    font-weight: 400;
    font-weight: 300; }
    .baner_section .description.medium_fs {
      font-size: 30px; }

.news_section {
  padding: 0 19px; }
  .news_section .wrap_img {
    position: relative;
    max-height: 500px;
    border-radius: 10px;
    overflow: hidden; }
    .news_section .wrap_img img {
      width: 100%;
      max-height: 500px;
      object-fit: cover; }
    .news_section .wrap_img .btn_read_card {
      position: absolute;
      right: 25px;
      bottom: 25px;
      z-index: 1000;
      opacity: 0;
      transition: opacity 0.3s ease; }
  .news_section .wrap_news {
    display: flex;
    flex-direction: row;
    gap: 1%; }
    .news_section .wrap_news article {
      flex: 1; }
  .news_section .single_news:hover .btn_read_card {
    opacity: 1; }
  .news_section .description_wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    margin-top: 29px; }
  .news_section h3 {
    font-size: 24px;
    font-weight: 400; }
  .news_section .description_new {
    font-size: 14px; }

.subscribe_section {
  padding: 0 19px;
  margin-top: 120px; }
  .subscribe_section h2 {
    font-size: 110px;
    text-transform: none;
    line-height: 80%;
    margin-bottom: 110px; }
  .subscribe_section label {
    flex: 1; }
  .subscribe_section .subscribe_form {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .subscribe_section .label-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
    max-width: 1300px; }
  .subscribe_section .contact-form-input {
    border: none;
    border-bottom: solid 2px black;
    font-weight: 500;
    font-size: 25px;
    color: #000000;
    outline: 0;
    padding-bottom: 14px;
    background-color: transparent;
    width: 100%;
    max-width: 473px; }
    .subscribe_section .contact-form-input::placeholder {
      text-transform: uppercase;
      color: black; }
  .subscribe_section button {
    border: none;
    background-color: transparent; }
  .subscribe_section .btn_more {
    font-size: 25px;
    margin-bottom: 0px; }
    .subscribe_section .btn_more img {
      width: 40px;
      height: 40px; }

footer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10%;
  margin-top: 100px;
  padding: 0 35px 148px 35px; }
  footer .logo {
    margin-top: -25px; }
  footer .footer_menu {
    width: 100%;
    max-width: 1300px; }
  footer .menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3%; }
    footer .menu > li > a {
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      white-space: nowrap; }
    footer .menu .sub_menu {
      margin-top: 24px; }
  footer .sub_menu {
    line-height: 1.6; }
    footer .sub_menu a {
      font-size: 14px;
      color: #4c4c4c;
      font-weight: 400; }
      footer .sub_menu a:hover {
        color: black;
        text-decoration: underline; }

.btn_more {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase; }
  .btn_more:hover {
    opacity: 0.7;
    text-decoration: underline; }

.btn_read_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 8px;
  font-size: 12px;
  font-weight: 400;
  padding: 7px;
  padding-left: 27px;
  border-radius: 35px;
  background-color: white;
  white-space: nowrap; }
  .btn_read_card:hover {
    opacity: 0.7;
    text-decoration: underline; }

/*# sourceMappingURL=styles.css.map */
