@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Carattere&display=swap");
ul {
  padding-inline-start: 0; }

/* сброс стилей браузера */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.2; }

ol {
  padding-left: 1.4em;
  list-style: decimal; }

ul {
  padding-left: 1.4em;
  list-style: square; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* конец кода сброса стилей браузера */
* {
  font-family: "Helvetica Neue", Arial, sans-serif; }

a {
  text-decoration: none;
  color: black; }

h1 {
  font-family: "Carattere", cursive; }

header {
  padding: 30px 30px; }
  header .logo {
    margin: 0 auto;
    width: fit-content;
    font-size: 60px;
    font-family: "Carattere", cursive;
    color: #144918; }
  header .options_block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    gap: 22px;
    margin-right: auto; }
  header .language-dropdown,
  header .сurrency-dropdown {
    position: relative; }
    header .language-dropdown .dropdownMenu,
    header .сurrency-dropdown .dropdownMenu {
      position: absolute;
      top: 150%;
      left: 0;
      list-style: none;
      padding-left: 0;
      z-index: 1000;
      width: fit-content;
      transform: translateY(-20px);
      transition: opacity 0.3s ease, transform 0.3s ease; }
      header .language-dropdown .dropdownMenu.hidden,
      header .сurrency-dropdown .dropdownMenu.hidden {
        opacity: 0;
        pointer-events: none; }
      header .language-dropdown .dropdownMenu.visible,
      header .сurrency-dropdown .dropdownMenu.visible {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto; }
      header .language-dropdown .dropdownMenu li.active a,
      header .сurrency-dropdown .dropdownMenu li.active a {
        opacity: 1; }
      header .language-dropdown .dropdownMenu li a,
      header .сurrency-dropdown .dropdownMenu li a {
        display: flex;
        padding: 6px;
        padding-left: 0;
        gap: 10px;
        opacity: 0.6; }
        header .language-dropdown .dropdownMenu li a:hover,
        header .сurrency-dropdown .dropdownMenu li a:hover {
          opacity: 1; }
  header button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: transparent;
    border: none;
    cursor: pointer; }
  header .icons_block ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    margin-left: auto;
    list-style: none; }
    header .icons_block ul a {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      width: 45px;
      height: 45px; }
      header .icons_block ul a:hover {
        background-color: rgba(217, 217, 217, 0.3); }

.top_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap; }
  .top_header > div {
    flex: 1; }

.main_menu {
  margin-top: 40px; }
  .main_menu ul {
    display: flex;
    justify-content: center;
    gap: 3%;
    list-style: none; }
    .main_menu ul a {
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase; }
      .main_menu ul a:hover {
        color: #144918;
        text-decoration: underline; }

/*# sourceMappingURL=styles.css.map */
