.error_page {
  header {
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 99;
    .logo {
      margin: 0;
    }
    .contact_us_btn {
      text-align: right;
      a {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        &:hover {
          color: #144918;
          text-decoration: underline;
        }
      }
    }
  }
  .top_header {
    &.mobile {
      display: none;
    }
  }
  @include tablet {
    header {
      .logo {
        margin: 0 auto;
      }
    }
    .top_header {
      &.desktop {
        display: none;
      }
      &.mobile {
        display: flex;
      }
    }
  }
  @include mobile(850) {
    main {
      position: relative;
      .cont_error_page {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
.cont_error_page {
  //   margin-top: -125px;
  overflow: hidden;
  margin-bottom: 0;
  height: 100vh;
  z-index: -1;
  & > .wrap {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    height: 100%;

    & > div {
      display: flex;
      align-items: center;
    }
    .text_error {
      //   font-size: 500px;
      @include fluid-font(100, 500, 320, 1400);
      text-align: right;
      justify-content: center;
      align-items: center;
      flex-flow: column nowrap;
      align-items: flex-end;

      span {
        @include fluid-font(32, 100, 320, 1400);
        margin-top: -30px;
        margin-right: 72px;
      }
    }
    .img_error {
      margin-left: -465px;
      align-items: center;
      @media screen and (max-width: 1400px) {
        margin-left: -35%;
      }
      img {
        margin-top: 30px;
        width: 95%;
      }
    }
    .error_desc {
      @include fz_99;
      text-align: right;
      background-color: rgba(251, 247, 247, 0.6);
      color: rgba(46, 44, 44, 1);
      margin-left: -350px;
      padding-left: 5%;
      padding-right: 50px;
      //   width: 57%;
      //   justify-content: flex-end;
      white-space: nowrap;
    }
  }
  .desc_block {
    position: absolute;
    bottom: 90px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    &.mobile {
      display: none;
    }
    .wrap {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;
      .col {
        &:first-child {
          @include fz_16;
          white-space: nowrap;
          line-height: 1.3;
        }
        &.error_desc_mobile {
          display: none;
        }
      }
    }
  }
  @include mobile(850) {
    display: flex;
    flex-flow: column nowrap;
    & > .wrap {
      .error_desc {
        display: none;
      }
      .img_error {
        margin-left: unset;
        margin-right: -99px;
        margin-left: -268px;
        img {
          width: auto;
          max-width: 400px;
        }
      }
      .text_error {
        font-size: 200px;
        span {
          font-size: 30px;
        }
      }
    }
    .wrap {
      .desc_block {
        display: none;
      }
    }
    .desc_block {
      position: static;
      &.mobile {
        display: block;
        height: 50%;
        .wrap {
          height: 100%;
          flex-flow: column nowrap;
          justify-content: space-between;
          .col {
            &.error_desc {
              display: block;
              font-size: 45px;
              text-align: right;
              white-space: nowrap;
              margin-right: -32px;
            }
          }
        }
        margin-bottom: 39px;
      }
    }
  }
}
