footer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10%;
  margin-top: 0;
  padding: 51px 35px 148px 35px;
  border-top: 1px solid rgba(234, 228, 224, 1);
  &.main_page {
    border-top: none;
  }
  .logo {
    margin-top: -25px;
    font-size: 60px;
    button {
      display: none;
    }
  }
  .footer_menu {
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
  }
  .menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    & > li {
      margin-bottom: 70px;
    }
    & > li > a {
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      white-space: nowrap;
      font-family: "HelveticaNeueCyr", Arial, sans-serif;
      @include tablet-range(1000, 1440) {
        font-size: 14px;
      }
    }
    .sub_menu {
      margin-top: 24px;
      .mobile {
        display: none;
      }
    }

    @include tablet-range(1000, 1440) {
      .sub_menu {
        margin-top: 20px;
      }
    }
  }
  .sub_menu {
    line-height: 1.7;
    a {
      font-family: "HelveticaNeueCyr", Arial, sans-serif;
      font-size: 16px;
      color: rgba(76, 76, 76, 1);
      font-weight: 400;
      &:hover {
        color: rgb(0, 0, 0);
        text-decoration: underline;
      }
      @include tablet-range(1000, 1440) {
        font-size: 14px;
      }
    }
  }
  @include tablet {
    padding: 15px 8px 40px 8px;
    flex-flow: column wrap;
    gap: 66px;
    border-top: none;
    .menu {
      justify-content: flex-start;
      & > li {
        max-width: 175px;
      }
      .sub_menu {
        .desktop {
          display: none;
        }
        .mobile {
          display: inline;
        }
      }
    }
  }
  @include mobile(476) {
    .logo {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      button {
        display: flex;
      }
      a {
        font-size: 25px;
      }
    }
    .menu {
      & > li {
        & > a {
          font-weight: 700;
        }
        &.item_1 {
          order: 1;
        }
        &.item_2 {
          order: 2;
        }
        &.item_3 {
          grid-column: span 2;
          max-width: unset;
          order: 5;
          .sub_menu {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            li {
              &:first-child {
                order: 2;
              }
              &:last-child {
                order: 1;
              }
            }
            a {
              white-space: nowrap;
              font-weight: 500;
              font-size: 14px;
            }
          }
          margin-bottom: 0;
        }
        &.item_4 {
          order: 3;
        }
        &.item_5 {
          order: 4;
        }
      }
    }
  }
  //   @include mobile {
  //     .menu {
  //       display: flex;
  //       gap: 33px;
  //       flex-flow: column nowrap;
  //       & > li {
  //         margin-bottom: 0px;
  //         flex: 1 1 auto;
  //         width: 100%;
  //         max-width: 100%;
  //         & > a {
  //           display: flex;
  //           width: 100%;
  //           max-width: 100%;
  //           justify-content: space-between;
  //           align-items: center;

  //           &::after {
  //             content: "";
  //             display: inline-block;
  //             background: url(../images/icons/arrow_mob_menu.svg) no-repeat center /
  //               contain;
  //             margin-left: auto;
  //             width: 33px;
  //             height: 33px;
  //             transform: rotate(90deg);
  //             transition: transform 0.3s ease;
  //           }
  //           &[aria-expanded="true"]::after {
  //             transform: rotate(-90deg);
  //           }
  //         }
  //       }
  //     }
  //     .sub_menu {
  //       margin-top: 20px;
  //       line-height: 2;
  //     }
  //   }
}
