* {
  font-family: "HelveticaNeueCyr", Arial, sans-serif;
}
.hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.logo {
  width: fit-content;
  font-size: 60px;
  font-family: "Carattere", cursive;
  color: $accentColor;
  a {
    color: $accentColor;
  }
}
a {
  text-decoration: none;
  color: $textColor;
}
h1 {
}
