* {
  font-family: "HelveticaNeueCyr", Arial, sans-serif;
}
button {
  cursor: pointer;
}
.hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.logo {
  width: fit-content;
  font-size: 60px;
  font-family: "Carattere", cursive;
  color: $accentColor;
  a {
    color: $accentColor;
  }
}
a {
  text-decoration: none;
  color: $textColor;
}
p {
  line-height: 1.3;
}
// Три колонки
.three_columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 5%;
  .col {
    flex: 1 1 300px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
}
strong {
  font-weight: 600;
}
h1 {
  font-size: 100px;
  font-weight: 300;
}
