header {
  a {
    font-family: "HelveticaNeueCyr", Arial, sans-serif;
  }
  position: relative;
  padding: 30px 30px;
  .logo {
    margin: 0 auto;
    a {
      @include fluid-font(40, 60);
      font-family: "Carattere", cursive;
    }
  }
  .mobile_btns {
    display: none;
    @include tablet {
      display: block;
    }
  }
  //   Начало Выпадающее меню
  .options_block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    gap: 22px;
    margin-right: auto;
    font-size: 14px;
    button {
      &.dropdownToggle {
        font-weight: 500;
      }
    }
  }

  .language-dropdown,
  .сurrency-dropdown {
    position: relative;

    .dropdownMenu {
      position: absolute;
      top: 150%;
      left: 0;
      list-style: none;
      padding-left: 0;
      z-index: 1000;
      width: fit-content;

      li.active a {
        opacity: 1;
      }

      li a {
        display: flex;
        padding: 6px;
        padding-left: 0;
        gap: 10px;
        opacity: 0.6;
        white-space: nowrap;
        text-transform: uppercase;
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  //   Конец Выпадающее меню

  .top_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    & > div {
      flex: 1;
    }
    //   Блок иконок справа
    .icons_block {
      ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 5px;
        margin-left: auto;
        list-style: none;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 4px;
          width: 45px;
          height: 45px;

          &:hover {
            background-color: rgba(217, 217, 217, 0.3);
          }
          @include tablet {
            background-color: rgba(217, 217, 217, 0.3);
          }
        }
      }
    }

    .options_block {
      @include tablet {
        display: none;
      }
    }
    .search_btn {
      @include tablet {
        display: none;
      }
    }
    .favorites_btn {
      @include tablet {
        display: none;
      }
    }
  }
}

// Главное меню

.main_menu {
  margin-top: 40px;
  ul {
    list-style: none;
  }
  & > ul {
    display: flex;
    justify-content: center;
    gap: 3%;
    & > li {
      position: relative;
    }
    & > li > a {
      font-weight: 500;
    }
  }

  a {
    font-size: 14px;
    text-transform: uppercase;
    &:hover {
      color: $accentColor;
      text-decoration: underline;
    }
  }
  h6 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
    text-transform: uppercase;
    white-space: nowrap;
  }
  .dropdawnWrap {
    position: absolute;
    z-index: 1000;
    display: flex;
    border-radius: 12px;
    flex-direction: row;
    width: fit-content;
    padding: 27px 24px;
    top: 200%;
    left: -22px;
    gap: 47px;
    background-color: #fff;
    .baner img {
      border-radius: 12px;
      margin-left: 28px;
    }
  }
  .sub_menu {
    line-height: 1.6;
    a {
      font-family: "HelveticaNeueCyr", sans-serif;
      font-size: 16px;
      text-transform: none;
      font-weight: 100;
      &:hover {
        color: rgba(131, 131, 131, 1);
      }
    }
  }
  @include tablet {
    display: none;
  }
}

// Мобильное меню

.mobile_menu {
  display: none;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  padding: 20px 20px 66px 13px;
  .wrap_menu {
    width: 100%;
  }
  .wrap_close {
    margin-bottom: 50px;
    width: fit-content;
    margin-left: auto;
  }
  .icons_block {
    margin-bottom: 38px;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    a {
      display: flex;
      align-items: center;
      gap: 16px;
      font-size: 16px;
    }
  }
  .menu_block {
    min-height: 570px;
    li {
      font-size: 16px;
      text-transform: uppercase;
      margin-bottom: 18px;
      min-height: 43px;
      &.parent > a,
      h6 {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        &::after {
          content: "";
          display: inline-block;
          //   inline-size: 20px; /* width */
          //   block-size: 20px; /* height */
          background: url("../images/icons/arrow_mob_menu.svg") no-repeat center /
            contain;
          margin-left: auto;
          width: 33px;
          height: 33px;
        }
        &.active {
          margin-bottom: 15px;
        }
        &.active::after {
          content: none;
        }
      }
      a {
        display: block;
        padding: 5px 0;
        flex: 1 1 auto;
        height: 100%;
      }
    }
    h6 {
      font-size: 16px;
      text-transform: uppercase;
      margin-bottom: 18px;
      margin-bottom: 0;
    }
    .wrap_sub_menu {
      li {
        margin: 0;
        padding: 0;
        text-transform: none;
        min-height: fit-content;
      }
      .sub_menu {
        margin-top: 50px;
      }
      .baner {
        width: 112px;
        height: 153px;
        border-radius: $radiusMidiPc;
        overflow: hidden;
        margin-left: auto;
        margin-top: 64px;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      a {
        color: rgba(53, 53, 53, 1);
        font-size: 16px;
        &:hover {
          text-decoration: underline;
          color: rgba(131, 131, 131, 1);
        }
      }
    }
    .back_btn {
      font-size: 12px;
      display: flex;
      align-items: center;
      width: fit-content;
      gap: 3px;
      font-weight: 400;
      text-transform: none;
      cursor: pointer;
    }

    .dropdawnWrap {
      opacity: 1;
      transform: none;
      display: none;
      &.visible {
        display: block;
      }
    }
    .hidden {
      display: none;
    }
  }
  .options_block {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    border-top: 1px solid rgba(190, 190, 190, 1);
    button {
      &.dropdownToggle {
        font-weight: 500;
      }
    }
    .dropdownMenu {
      background-color: rgb(255, 255, 255);
      padding: 5px;
      border-radius: 5px;
    }
  }

  &.opened {
    @include tablet {
      display: flex;
    }
  }
}
