.video_cover {
  width: 100%;
  //height: 100%;
  object-fit: cover;
}
section {
  //   width: 100%;
  margin-bottom: 78px;
  h2 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
  }
  .header_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
  }
  @include tablet-range(1441, 1600) {
    margin-bottom: 60px;
  }
  @include tablet-range(1000, 1440) {
    margin-bottom: 45px;
  }
}

// Секция ВидеоБанер
.video_baner {
  overflow: hidden;
  .wrap {
    position: relative;
    overflow: hidden;
    img.video_cover {
      width: 100%;
      height: 100%;
      object-fit: cover;
      &.mobile {
        display: none;
      }
    }
  }
  .header_block {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    gap: 75px;
    right: 0;
    bottom: 0;
    padding: 22px;
    padding-bottom: 69px;
    margin-bottom: 0;
    .description_wrap {
      max-width: 60%;
    }
    &.large_title {
      gap: 30px;
      padding-right: 1.7%;
      .description_wrap {
        max-width: unset;
        gap: 30px;
        h1 {
          line-height: 82%;
          letter-spacing: -0.02em;
          @include fz_200;
        }
      }
    }
    h1 {
      font-weight: 400;
      @include fz_100;
      line-height: 77%;
      letter-spacing: -0.02em;
      text-align: right;
      color: #fff;
    }
    .btn_more {
      font-size: 25px;
      margin-bottom: 0px;
      color: white;
    }
  }
  @include tablet-range(1601, 1900) {
    .header_block {
      .btn_more {
        font-size: 21px;
        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
  @include tablet-range(1441, 1600) {
    .header_block {
      gap: 65px;
      padding-bottom: 45px;
      .btn_more {
        font-size: 21px;
        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }

  @include tablet-range(1000, 1440) {
    .header_block {
      gap: 60px;
      padding-bottom: 35px;
      .btn_more {
        font-size: 18px;
        img {
          width: 28px;
          height: 28px;
        }
      }
    }
  }
  @include tablet-range(1000, 1200) {
    .header_block {
      .btn_more {
        font-size: 16px;
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  @include tablet {
    margin-bottom: 28px;
    .header_block {
      gap: 40px;
      padding-bottom: 19px;
      h1 {
        font-size: 55px;
      }
      .btn_more {
        font-size: 16px;
      }
    }

    .wrap {
      height: 480px;
      img.video_cover {
        height: 100%;
        object-position: left;
        &.desktop {
          display: none;
        }
        &.mobile {
          display: inline;
        }
      }
    }
  }
  @include mobile(780) {
    .header_block {
      h1 {
        font-size: 40px;
      }
    }
  }
  @include mobile {
    .header_block {
      display: none;
    }
  }
}

// Секция категорий
.stripe_section {
  padding-top: 0;
  padding-bottom: 0;
  @extend %adaptivePaddingSection;

  .stripe_slider {
    width: 100%;
    overflow: hidden;
    border-radius: 10px 0 0 10px;
  }

  article.cart {
    .wrap_img {
      display: flex;
      align-items: center;
      background-color: rgba(243, 243, 243, 1);
      border-radius: $radiusMiniPc;
      margin-bottom: 35px;
      overflow: hidden;
      aspect-ratio: 4 / 5;
    }
    img,
    model-viewer {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    h2 {
      text-align: center;
    }
    .description_wrap {
      max-width: 235px;
      margin-left: 1.3%;
      .description_prod {
        font-size: 14px;
        opacity: 0.4;
        margin-bottom: 19px;
        text-transform: uppercase;
      }
      .price_prod {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
  @include tablet-range(1601, 1900) {
    article.cart {
      .wrap_img {
        margin-bottom: 23px;
      }
      .description_wrap {
        .description_prod {
          font-size: 12px;
          margin-bottom: 16px;
        }
        .price_prod {
          font-size: 16px;
        }
      }
    }
  }
  @include tablet-range(1440, 1600) {
    h2,
    .btn_more {
      font-size: 14px;
      img {
        width: 18px;
        height: 18px;
      }
    }
    article.cart {
      .wrap_img {
        margin-bottom: 23px;
      }
      .description_wrap {
        .description_prod {
          font-size: 12px;
          margin-bottom: 16px;
        }
        .price_prod {
          font-size: 16px;
        }
      }
    }
  }
  @include tablet-range(1000, 1439) {
    h2,
    .btn_more {
      font-size: 12px;
      img {
        width: 16px;
        height: 16px;
      }
    }
    article.cart {
      .wrap_img {
        margin-bottom: 23px;
      }
      .description_wrap {
        .description_prod {
          font-size: 10px;
          margin-bottom: 14px;
        }
        .price_prod {
          font-size: 14px;
        }
      }
    }
    .header_block {
      margin-bottom: 20px;
    }
  }
  @include tablet {
    margin-bottom: 50px;
    padding-right: 0;
    .header_block {
      padding-right: 13px;
    }
    article {
      &.cart {
        .description_wrap {
          margin-left: 4px;
          display: none;
        }
      }
    }
  }
  @include mobile {
    margin-bottom: 45px;
    article.cart {
      .description_wrap {
        width: 100%;
      }
    }
  }
}

// Секция Слайдер картинок
.slider_section {
  padding-top: 0;
  padding-bottom: 0;
  .header_block {
    @extend %adaptivePaddingSection;
  }
  & > .wrap {
    &.wrap {
      padding-left: 19px;
    }
  }
  .img_slider {
    width: 100%;
    overflow: hidden;
    height: 432px;
    // margin-left: 19px;
    border-radius: 10px 0 0 10px;
  }
  .swiper-slide {
    width: fit-content;
  }
  a {
    // display: block;
    width: fit-content;
  }

  article {
    .wrap_img {
      background-color: rgba(243, 243, 243, 1);
      border-radius: $radiusMiniPc;
      margin-bottom: 35px;
      height: 100%;
      overflow: hidden;
    }
    img {
      width: 100%;
      height: 100%;
      max-height: 432px;
      object-fit: cover;
    }
  }
  @include tablet-range(1440, 1600) {
    h2,
    .btn_more {
      font-size: 14px;
      img {
        width: 18px;
        height: 18px;
      }
    }
    .img_slider {
      height: 350px;
    }
  }
  @include tablet-range(1000, 1439) {
    h2,
    .btn_more {
      font-size: 12px;
      img {
        width: 16px;
        height: 16px;
      }
    }
    .img_slider {
      height: 300px;
    }
    .header_block {
      margin-bottom: 20px;
    }
  }
  @include tablet {
    & > .wrap {
      &.wrap {
        padding-left: 13px;
      }
    }
  }
  @include mobile {
    margin-bottom: 43px;
  }
}

// Секция новая коллекция
.baner_section {
  //   position: relative;
  &.with_radius {
    //max-height: 420px;
    margin: 60px 30px 80px 30px;
    .video_cover {
      border-radius: $radiusMidiPc;
    }
    .description_wrap {
      gap: 0;
    }
    h2 {
      text-transform: none;
      letter-spacing: -0.02em;
    }
    .header_block {
      bottom: 0;
      display: flex;
      align-items: center;
      height: 100%;
    }
  }
  .video_cover {
    height: 100%;
    &.mobile {
      display: none;
    }
  }
  .wrap {
    position: relative;
  }
  color: rgba(255, 255, 255, 1);
  .header_block {
    @extend %adaptivePaddingSection;
    padding-left: 2.6%;
    width: 100%;
    position: absolute;
    bottom: 100px;
    align-items: flex-end;
    margin-bottom: 0;
    gap: 10px;
    .btn_more {
      @include fz_25;
      margin-bottom: 0px;
      color: rgba(255, 255, 255, 1);
    }
  }
  .description_wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
  }
  h2 {
    margin: 0;
    font-size: 200px;
    @include fluid-font(80, 200);
    margin-bottom: -5px;
    vertical-align: bottom;
    text-transform: none;
    letter-spacing: -0.02em;
    &.medium_fs {
      margin-left: 0.7%;
      margin-bottom: 60px;
      font-size: 110px;
      @include fluid-font(45, 90);
      @include tablet {
        font-size: 60px;
        margin-bottom: 18px;
      }
      @include mobile {
        font-size: 50px;
        margin-bottom: 0;
        br {
          display: none;
        }
      }
    }
  }
  .description {
    // margin-left: 15px;
    font-size: 40px;
    @include fluid-font(20, 40);
    // letter-spacing: 97%;
    margin-left: 1%;
    font-weight: 400;
    font-weight: 300;
    &.medium_fs {
      font-size: 30px;
      @include fluid-font(20, 30);
      @include tablet {
        font-size: 20px;
      }
      @include mobile {
        font-size: 16px;
        margin-bottom: -20px;
        display: none;
      }
    }
  }
  &.with_padding {
    padding-left: 19px;
    padding-right: 19px;
  }
  @include tablet-range(1601, 1900) {
    h2.medium_fs {
      margin-bottom: 30px;
    }
    .header_block {
      bottom: 70px;
      .btn_more {
        font-size: 21px;
        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
  @include tablet-range(1441, 1600) {
    h2.medium_fs {
      margin-bottom: 28px;
    }
    .header_block {
      bottom: 65px;
      .btn_more {
        font-size: 21px;
        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }

  @include tablet-range(1000, 1440) {
    h2.medium_fs {
      margin-bottom: 26px;
    }
    .header_block {
      bottom: 60px;
      .btn_more {
        font-size: 18px;
        img {
          width: 28px;
          height: 28px;
        }
      }
    }
  }
  @include tablet-range(1000, 1200) {
    .header_block {
      bottom: 45px;
      .btn_more {
        font-size: 16px;
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  @include mobile(1050) {
    .header_block {
      .btn_more {
        font-size: 16px;
      }
    }
    h2.medium_fs {
      br {
        display: none;
      }
    }
  }
  @include tablet {
    .wrap {
      height: 780px;
    }
    .header_block {
      bottom: 80px;
    }
    h2 {
      font-size: 80px;
    }
    .description {
      font-size: 24px;
    }
    .video_cover {
      object-position: 31% center;
      &.position_left {
        object-position: 53% center;
      }
      &.position_center {
        object-position: center center;
      }
      &.mobile {
        display: inline;
        object-position: center top;
        height: 100%;
      }
      &.desktop {
        display: none;
      }
    }
  }
  @include mobile(657) {
    h2 {
      font-size: 68px;
      letter-spacing: -0.02em;
      max-width: 375px;
    }
    .video_cover {
      &.position_left {
        object-position: 36% center;
      }
    }
  }
  @include mobile {
    margin-top: 66px;
    margin-bottom: 48px;
    &.low_height > .wrap {
      height: 50vh;
    }
    .header_block {
      flex-flow: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 32px;
      bottom: 40px;
    }
    .description_wrap {
      gap: 5px;
    }
    .description {
      font-size: 20px;
      max-width: 270px;
      display: none;
    }
  }
  @include mobile(417) {
    h2 {
      font-size: 80px;
    }
  }
}

// Секция последне новости
.news_section {
  @extend %adaptiveMarginSection;
  .wrap_img {
    position: relative;
    max-height: 500px;
    border-radius: $radiusMiniPc;
    overflow: hidden;
    img {
      width: 100%;
      max-height: 500px;
      object-fit: cover;
    }

    .btn_read_card {
      position: absolute;
      right: 25px;
      bottom: 25px;
      z-index: 1000;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }
  .wrap_news {
    display: flex;
    flex-direction: row;
    gap: 1%;
  }
  .news_slider {
    border-radius: 12px 0 0 12px;
  }
  .single_news {
    &:hover {
      .btn_read_card {
        opacity: 1;
      }
    }
  }
  .description_wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    margin-top: 29px;
    max-width: 440px;
    margin-left: 9px;
  }
  h3 {
    font-size: 24px;
    font-weight: 400;
  }
  .description_new {
    font-size: 14px;
    color: rgba(77, 77, 77, 1);
    line-height: 1.6;
    margin-right: 15px;
  }
  @include tablet-range(1601, 1900) {
    h3 {
      font-size: 22px;
    }
    .description_wrap {
      margin-top: 24px;
    }
  }
  @include tablet-range(1440, 1600) {
    h2,
    .btn_more {
      font-size: 14px;
      img {
        width: 18px;
        height: 18px;
      }
    }
    .header_block {
      margin-bottom: 24px;
    }
    h3 {
      font-size: 20px;
    }
    .description_wrap {
      margin-top: 22px;
    }
  }

  @include tablet-range(1000, 1439) {
    h2,
    .btn_more {
      font-size: 12px;
      img {
        width: 16px;
        height: 16px;
      }
    }
    .header_block {
      margin-bottom: 20px;
    }
    h3 {
      font-size: 18px;
    }
    .description_wrap {
      margin-top: 20px;
      gap: 12px;
    }
    .description_new {
      font-size: 12px;
    }
  }
  @include tablet-range(1000, 1200) {
    .description_wrap {
      margin-top: 18px;
      gap: 8px;
    }
    h3 {
      font-size: 16px;
    }
    .description_new {
      font-size: 10px;
    }
  }
  @include tablet {
    margin-right: 0;
    .header_block {
      margin-right: 13px;
    }
    h3 {
      font-size: 24px;
    }
    .description_new {
      display: none;
    }
  }
  @include mobile {
    h3 {
      font-size: 20px;
      max-width: 250px;
    }

    .description_wrap {
      max-width: 100%;
    }
  }
}

.subscribe_section {
  @extend %adaptiveMarginSection;
  margin-top: 120px;
  h2 {
    font-size: 110px;
    @include fluid-font(55, 100, 1000, 1900);
    text-transform: none;
    line-height: 80%;
    margin-bottom: 110px;
  }
  label {
    flex: 1;
  }
  .subscribe_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  .label-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
    max-width: 1300px;
  }
  .contact-form-input {
    border: none;
    border-bottom: solid 2px rgba(0, 0, 0, 1);
    font-weight: 500;
    font-size: 25px;
    color: #000000;
    outline: none;
    border-radius: none;
    padding-bottom: 14px;
    background-color: transparent;
    width: 100%;
    max-width: 473px;
    &::placeholder {
      text-transform: uppercase;
      color: rgba(0, 0, 0, 1);
    }
  }
  button {
    border: none;
    background-color: transparent;
  }
  .btn_more {
    font-size: 25px;
    margin-bottom: 0px;
    img {
      width: 40px;
      height: 40px;
    }
  }
  @include tablet-range(1441, 1600) {
    h2 {
      margin-bottom: 100px;
    }
    .contact-form-input {
      font-size: 20px;
      width: 70%;
    }
    .btn_more {
      font-size: 20px;
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
  @include tablet-range(1201, 1440) {
    h2 {
      margin-bottom: 95px;
    }
    .contact-form-input {
      font-size: 18px;
      width: 60%;
    }
    .btn_more {
      font-size: 18px;
      img {
        width: 22px;
        height: 22px;
      }
    }
  }
  @include tablet-range(1000, 1200) {
    margin-top: 95px;
    h2 {
      margin-bottom: 70px;
    }
    .contact-form-input {
      font-size: 16px;
      width: 60%;
    }
    .btn_more {
      font-size: 16px;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
  @include tablet {
    margin-bottom: 170px;
    h2 {
      max-width: 600px;
      font-size: 60px;
    }
    .label-wrap {
      flex-flow: column nowrap;
      align-items: flex-start;
      gap: 120px;
    }
    .subscribe_form {
      flex-flow: column nowrap;
      gap: 120px;
    }
    .btn_more {
      align-self: flex-end;
    }
    label {
      width: 100%;
    }
    .contact-form-input {
      max-width: 100%;
    }
  }
  @include tablet(769) {
  }
  @include mobile {
    margin-bottom: 80px;
    h2 {
      font-weight: 400;
      font-size: 27px;
      line-height: 100%;
      letter-spacing: -0.02em;
      color: #cecece;
      margin-bottom: 49px;
      &::first-line {
        color: #000;
      }
    }
    .label-wrap {
      gap: 77px;
    }
    .contact-form-input {
      font-size: 18px;
    }
    .subscribe_form {
      gap: 60px;
    }
    .btn_more {
      font-size: 20px;
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}

// // Секция доставка и возврат
.delivery_section {
  border-top: 1px solid rgba(234, 228, 224, 1);
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 200px;
  padding-top: 30px;
  .wrap {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
  }
  .col {
    align-items: flex-start;
    &.text {
      max-width: 300px;
    }
    &.img {
      width: fit-content;
      display: flex;
      align-items: center;
    }
  }
  .col > img {
    object-fit: cover;
    border-radius: $radiusMidiPc;
    max-width: 600px;
    width: 100%;
    max-height: 630px;
  }
  h3 {
    @include fz_36;
    text-transform: uppercase;
    margin-bottom: 36px;
    font-weight: 400;
    text-align: left;
    width: 100%;
  }
  h4 {
    font-weight: 600;
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    height: 100%;
    li {
      @include fz_16;
      padding-left: 8px;
      border-left: 1px solid rgba(234, 228, 224, 1);

      line-height: 1.3;
    }
  }
  @include desktop(1600) {
    .three_columns {
      margin: 0 3%;
    }
    .col {
      &.text {
        max-width: 19%;
      }
      & > img {
        max-width: 70%;
      }
    }
  }
  @include desktop(1400) {
    .col {
      & > img {
      }
    }
  }
  @include desktop(1200) {
    .col {
      & > img {
      }
    }
  }
  @include tablet {
    border-top: none;
    margin-bottom: 120px;
    h3 {
      font-size: 36px;
    }
    ul {
      li {
        font-size: 16px;
      }
    }
    .three_columns {
      row-gap: 50px;
    }
    .col {
      img {
        min-height: 490px;
      }
    }
  }
  @include mobile(666) {
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 52px;
    .three_columns {
      justify-content: flex-start;
      gap: 50px;
      .col {
        &.text {
          margin-left: 13px;
          margin-right: 13px;
          max-width: 100%;
          ul {
            flex-flow: row wrap;
            gap: 40px;
            li {
              flex: 1 1 195px;
            }
          }
        }
      }
    }
  }
}

//   Секция обратная форма
.contact_us_section {
  margin-bottom: 120px;
  .wrap {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    gap: 20px;
    margin: 0 30px;
  }
  .col {
    flex: 1 1 300px;
    .wrap_col {
      max-width: 480px;
      margin-left: auto;
      margin-right: auto;
    }
    .pre_title {
      font-size: 16px;
      font-weight: 500;
      color: rgba(173, 173, 173, 1);
      margin-bottom: 12px;
      text-align: center;
    }
    h2 {
      font-size: 36px;
      font-weight: 500;
      margin-bottom: 20px;
      text-align: center;
    }
    .description {
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 64px;
      color: rgba(102, 112, 133, 1);
      text-align: center;
    }
  }
  .wrap_img {
    border-radius: $radiusMidiPc;
    overflow: hidden;
    height: 100%;
  }
  .img_cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    &.mobile {
      display: none;
    }
  }
  h2 {
    text-transform: none;
  }
  .contact_us_form {
    label {
      display: flex;
      flex-flow: column nowrap;
      gap: 6px;
      font-size: 12px;
      width: 100%;
      margin-bottom: 24px;

      &.form-privacy {
        flex-flow: row nowrap;
        align-items: center;
        input {
          width: auto;
        }
        a {
          color: rgba(52, 64, 84, 1);
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    input,
    textarea {
      padding: 12px 16px;
      border-radius: 12px;
      border: 1px solid rgba(208, 213, 221, 1);
      font-size: 12px;
      width: 100%;
      &::placeholder {
        color: rgba(102, 112, 133, 1);
      }
    }
    .names_wrap {
      display: flex;
      flex-flow: row nowrap;
      gap: 6%;
      justify-content: space-between;
    }
    .contact-form-textarea {
      resize: none;
      height: 130px;
    }
    .iti__search-input {
      border: none !important;
      outline: none;
      &:focus-visible {
        border: none !important;
        outline: none;
      }
    }
    .submit_but {
      width: 100%;
    }
  }
  @include mobile(645) {
    margin-bottom: 113px;
    .wrap {
      margin: 0;
      gap: 24px;
    }
    .wrap_img {
      border-radius: 0;
      height: 750px;
      &.with_padding_mob {
        padding-left: 13px;
        padding-right: 13px;
        height: 455px;
      }
    }
    .col {
      &.father_heights {
        margin-left: 13px;
        margin-right: 13px;
      }
      .description {
        margin-bottom: 35px;
      }
    }
    .img_cover {
      &.desktop {
        display: none;
      }
      &.mobile {
        display: inline;
      }
      &.with_radius_mob {
        border-radius: 12px;
      }
    }
    .contact_us_form {
      label {
        font-size: 14px;
        &.form-privacy {
          font-size: 16px;
        }
      }
      input {
        font-size: 14px;
      }
      textarea {
        font-size: 14px;
      }
      .submit_but {
        font-size: 16px;
      }
    }
  }
}

// Секция История

.story_section {
  margin-top: 6%;
  .wrap {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-flow: row nowrap;
    gap: 8%;
    & > .col {
      display: flex;
      flex-direction: column;
      gap: 40px;
      &:first-child {
        display: block;
        width: 32%;
      }
      &:nth-child(2) {
        width: 32%;
        gap: 96px;
      }
      &:last-child {
        width: 20%;
      }
    }
  }
  .wrap_img {
    overflow: hidden;
    border-radius: $radiusMidiPc;
    border-radius: 12px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    &.mobile {
      display: none;
    }
  }
  h2 {
    @include fz_80;
    text-align: left;
    text-transform: none;
  }
  .caption {
    @include fz_16_small;
    width: 58%;
    &:last-child {
      width: 87%;
    }
  }
  p {
    line-height: 1.6;
  }
  @include tablet {
    margin-bottom: 40px;
    h2 {
      font-size: 40px;
      margin-bottom: 24px;
    }
    .wrap {
      flex-flow: column nowrap;
      & > .col {
        width: 100% !important;
        gap: 40px !important;
        &:last-child {
          flex-flow: column-reverse nowrap;
          margin-top: 40px;
        }
      }
    }
    .caption {
      width: 96%;
      font-weight: 400;
      font-size: 16px;
      line-height: 190%;
      letter-spacing: -0.02em;
      color: #212121;
    }
    img {
      &.desktop {
        display: none;
      }
      &.mobile {
        display: inline;
      }
    }
  }
}

.unique_patented_section {
  margin-top: 169px;
  margin-bottom: 114px;
  @extend %adaptivePaddingSection;
  h2 {
    font-weight: 400;
    font-size: 120px;
    @include fz_120;
    line-height: 87%;
    letter-spacing: -0.02em;
    color: #cecece;
    max-width: 50%;
    text-transform: none;
    &::first-line {
      color: #212121;
    }
  }
  .description_wrap {
    display: grid;
    grid-template-columns: 1fr 2.4fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: -11%;
  }
  .background_wrap {
    grid-row: span 2;
    padding-right: 5%;
  }
  .background_img {
    width: 100%;
    object-fit: cover;
    &.mobile {
      display: none;
    }
  }
  .cell {
    h3 {
      font-weight: 400;
      font-size: 55px;
      @include fz_55;
      line-height: 91%;
      letter-spacing: -0.02em;
      color: #212121;
      margin-top: 6%;
      margin-bottom: 8%;
    }
    .descripion {
      font-weight: 400;
      font-size: 16px;
      @include fz_16;
      line-height: 130%;
      letter-spacing: -0.02em;
      color: #212121;
      max-width: 58%;
    }
    &.cell_3 {
      h3 {
        margin-top: 10%;
      }
    }
    &.cell_4 {
      transform: translateX(10px);
      h3 {
        margin-top: 20%;
      }
    }
    &.cell_5 {
      h3 {
        margin-top: 28%;
      }
    }
  }
  .btn_more {
    margin-top: 30px;
    @include fz_16;
  }
  //   Секция на сранице ABOUT
  &.details {
    margin-top: 6.7%;
    margin-bottom: 5.8%;
    h2 {
      @include fz_80;
      max-width: 100%;
      text-align: center;
      color: #212121;
      &::first-line {
        color: inherit;
      }
      span {
        color: #cecece;
      }
    }
    .description_wrap {
      margin-top: 6%;
    }
    .cell {
      &.mobile {
        display: none;
      }
      .descripion {
        max-width: 57%;
      }
      &.cell_3 {
        h3 {
          margin-top: 3%;
        }
      }
      &.cell_4 {
        h3 {
          margin-top: -38%;
        }
      }
      &.cell_5 {
        h3 {
          margin-top: 50%;
        }
      }
    }
  }
  @include tablet {
    margin-top: 80px;
    margin-bottom: 74px;
    h2 {
      font-weight: 400;
      font-size: 45px;
      max-width: 320px;
    }
    .description_wrap {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
      margin-top: 8%;
      column-gap: 54px;
      row-gap: 30px;
    }
    .background_wrap {
      grid-column: span 3;
      padding-right: 0;
    }
    .background_img {
      display: none;
      &.mobile {
        display: inline;
      }
    }
    .cell {
      .descripion {
        max-width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: -0.02em;
        color: #8e8e8e;
        max-width: 153px;
      }
      h3 {
        font-weight: 500;
        font-size: 25px;
        line-height: 104%;
        max-width: 153px;
      }
      .mob_centr {
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
      }
      &.cell_1 {
        display: none;
      }
      &.cell_3 {
        order: 2;
        h3 {
          margin-top: 10%;
        }
      }
      &.cell_4 {
        h3 {
          margin-top: 10%;
        }
      }
      &.cell_5 {
        order: 1;
        h3 {
          margin-top: 10%;
        }
      }
    }
    .btn_more {
      margin-top: 116px;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      font-size: 16px;
    }

    &.details {
      margin-left: 23px;
      margin-right: 23px;
      margin-bottom: 64px;
      .description_wrap {
        column-gap: 19px;
        row-gap: 0;
      }
      h2 {
        font-size: 50px;
        line-height: 104%;
        letter-spacing: -0.02em;
      }
      .cell {
        &.cell_3 {
          h3 {
            margin-top: 10%;
          }
        }
        &.cell_4 {
          h3 {
            margin-top: 10%;
          }
        }
        &.cell_5 {
          h3 {
            margin-top: 10%;
          }
        }
        .descripion {
          max-width: 160px;
        }
      }
    }
  }
  @include mobile(630) {
    .description_wrap {
      grid-template-columns: 1fr 1fr;
    }
    .background_wrap {
      grid-column: span 2;
    }
    .cell {
      &.cell_4 {
        display: none;
      }
    }
    &.details {
      h2 {
        text-align: left;
        max-width: 300px;
      }
      .cell {
        &.mobile {
          display: block;
          h3 {
            margin-top: 10%;
          }
        }
        &.cell_5 {
          display: none;
        }
      }
    }
  }
}

// Секция растущего кольца

.grow_section {
  margin-top: 6.3%;
  margin-bottom: 6.3%;
  h2 {
    font-weight: 300;
    @include fz_170_small;
    letter-spacing: -0.02em;
    color: #212121;
    text-transform: none;
    margin-bottom: 7%;
    span {
      color: #d2d2d2;
    }
  }
  .head_section {
    @extend %adaptiveMarginSection;
  }
  .background_section {
    position: relative;
    img {
      &.mobile {
        display: none;
      }
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .wrap_content {
      margin-left: 3.8%;
      margin-right: 9.4%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      height: 100%;
      .col {
        max-width: 24%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .cell {
          max-width: 72%;
          &.full_width {
            max-width: 100%;
          }
        }
        h3 {
          font-weight: 400;
          @include fz_55;
          line-height: 91%;
          letter-spacing: -0.02em;
          color: #212121;
          @include fluid-height(margin-bottom, 37);
        }
        .description {
          font-weight: 400;
          @include fz_16_small;
          line-height: 130%;
          letter-spacing: -0.02em;
          color: #212121;
          &.only {
            line-height: 160%;
          }
        }
        &.col_1 {
          justify-content: center;
          align-items: flex-start;
          .cell {
            transform: translateY(57%);
          }
        }
      }
    }
  }
  .label_block {
    margin-left: 3.8%;
    margin-right: 13px;
    display: flex;
    flex-flow: row wrap;
    margin-top: 5.2%;
    @include fluid-height(gap, 12);
    .label_advantages {
      font-weight: 400;
      @include fz_16;
      line-height: 130%;
      letter-spacing: -0.02em;
      color: #212121;
      @include fluid-height(padding, 20);
      @include fluid-height(padding-left, 30);
      @include fluid-height(padding-right, 30);
      border: 1px solid #dbd6d6;
      border-radius: 80px;
    }
  }
  @include tablet {
    margin-bottom: 33px;
    h2 {
      font-weight: 400;
      font-size: 50px;
      line-height: 108%;
      max-width: 350px;
    }
    .background_section {
      img {
        margin-top: 10%;
        margin-bottom: 15%;
      }
      .wrap_content {
        position: static;
        margin-left: 13px;
        margin-right: 13px;
        gap: 37px;
        justify-content: space-around;
        .col {
          max-width: 100%;
          justify-content: flex-start;
          h3 {
            font-weight: 500;
            font-size: 25px;
            line-height: 104%;
            letter-spacing: -0.02em;
            color: #212121;
          }
          .description {
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            letter-spacing: -0.02em;
            color: #8e8e8e;
          }
          &.col_1 {
            .cell {
              transform: unset;
            }
          }
          &.col_2 {
            flex-direction: row;
            height: 100%;
            justify-content: space-around;
            h3 {
              margin-bottom: 64px;
            }
            .cell {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
            }
          }
          .cell {
            max-width: 160px;
          }
          .description {
            &.only {
              display: none;
            }
          }
        }
      }
    }
    .label_block {
      gap: 28px;
      margin-top: 33px;
      margin-left: 13px;
      margin-right: 13px;
      .label_advantages {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: -0.02em;
        color: #212121;
        flex: 1 1 180px;
        white-space: nowrap;
        text-align: center;
      }
    }
  }
}

//   Секция Твоя жизнь меняется
.evolves_section {
  @extend %adaptiveMarginSection;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }
  h2 {
    font-weight: 400;
    @include fz_110;
    line-height: 77%;
    letter-spacing: -0.02em;
    color: #212121;
    text-transform: none;
    text-indent: 10%;
    @include fluid-height(margin-bottom, 125);
  }
  .wrap_section {
    display: flex;
    flex-flow: row wrap;
  }
  .col {
    flex: 1 1 300px;

    &.col_left {
      flex: 1.1 1.1 330px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      .wrap_content {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        img {
          flex: 1;
          max-width: 50%;
        }
        .description {
          flex: 1;
          font-weight: 400;
          @include fz_16_small;
          line-height: 130%;
          letter-spacing: -0.02em;
          color: #212121;
          p {
            max-width: 60%;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
    &.col_right {
      max-width: 48%;
    }
  }
  @include tablet {
    margin-top: 33px;
    margin-bottom: 43px;
    h2 {
      font-weight: 400;
      font-size: 40px;
      line-height: 102%;
      letter-spacing: -0.02em;
      margin-bottom: 51px;
    }
    .wrap_section {
      gap: 53px;
      column-gap: 20px;
    }
    .col {
      &.col_left {
        .wrap_content {
          flex-flow: column nowrap;
          gap: 53px;
          .description {
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            letter-spacing: -0.02em;
            p {
              max-width: 90%;
              margin-bottom: 20px;
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
          img {
            max-width: 100%;
          }
        }
      }
      &.col_right {
        max-width: 100%;
        img {
        }
      }
    }
  }
}
