.video_cover {
  width: 100%;
  //height: 100%;
  object-fit: cover;
}
section {
  //   width: 100%;
  margin-bottom: 78px;
  h2 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
  }
  .header_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
  }
  @include tablet-range(1441, 1600) {
    margin-bottom: 60px;
  }
  @include tablet-range(1000, 1440) {
    margin-bottom: 45px;
  }
}

// Секция ВидеоБанер
.video_baner {
  overflow: hidden;
  .wrap {
    position: relative;
    overflow: hidden;
    img.video_cover {
      width: 100%;
      height: 100%;
      object-fit: cover;
      &.mobile {
        display: none;
      }
    }
  }
  .header_block {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    gap: 75px;
    right: 0;
    bottom: 0;
    padding: 22px;
    padding-bottom: 69px;
    margin-bottom: 0;
    .description_wrap {
      max-width: 60%;
    }
    h1 {
      font-weight: 400;
      @extend %fz_100;
      line-height: 77%;
      letter-spacing: -0.03em;
      text-align: right;
      color: #fff;
    }
    .btn_more {
      font-size: 25px;
      margin-bottom: 0px;
      color: white;
    }
  }
  @include tablet-range(1601, 1900) {
    .header_block {
      .btn_more {
        font-size: 21px;
        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
  @include tablet-range(1441, 1600) {
    .header_block {
      gap: 65px;
      padding-bottom: 45px;
      .btn_more {
        font-size: 21px;
        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }

  @include tablet-range(1000, 1440) {
    .header_block {
      gap: 60px;
      padding-bottom: 35px;
      .btn_more {
        font-size: 18px;
        img {
          width: 28px;
          height: 28px;
        }
      }
    }
  }
  @include tablet-range(1000, 1200) {
    .header_block {
      .btn_more {
        font-size: 16px;
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  @include tablet {
    margin-bottom: 28px;
    .header_block {
      gap: 40px;
      padding-bottom: 19px;
      h1 {
        font-size: 55px;
      }
    }

    .wrap {
      height: 480px;
      img.video_cover {
        height: 100%;
        object-position: left;
        &.desktop {
          display: none;
        }
        &.mobile {
          display: inline;
        }
      }
    }
  }
  @include mobile(780) {
    .header_block {
      h1 {
        font-size: 40px;
      }
    }
  }
  @include mobile {
    .header_block {
      display: none;
    }
  }
}

// Секция категорий
.stripe_section {
  padding-top: 0;
  padding-bottom: 0;
  @extend %adaptivePaddingSection;

  .stripe_slider {
    width: 100%;
    overflow: hidden;
  }

  article.cart {
    .wrap_img {
      display: flex;
      align-items: center;
      background-color: rgba(243, 243, 243, 1);
      border-radius: $radiusMiniPc;
      margin-bottom: 35px;
      overflow: hidden;
      aspect-ratio: 4 / 5;
    }
    img,
    model-viewer {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    h2 {
      text-align: center;
    }
    .description_wrap {
      max-width: 235px;
      .description_prod {
        font-size: 14px;
        opacity: 0.4;
        margin-bottom: 19px;
        text-transform: uppercase;
      }
      .price_prod {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
  @include tablet-range(1601, 1900) {
    article.cart {
      .wrap_img {
        margin-bottom: 23px;
      }
      .description_wrap {
        .description_prod {
          font-size: 12px;
          margin-bottom: 16px;
        }
        .price_prod {
          font-size: 16px;
        }
      }
    }
  }
  @include tablet-range(1440, 1600) {
    h2,
    .btn_more {
      font-size: 14px;
      img {
        width: 18px;
        height: 18px;
      }
    }
    article.cart {
      .wrap_img {
        margin-bottom: 23px;
      }
      .description_wrap {
        .description_prod {
          font-size: 12px;
          margin-bottom: 16px;
        }
        .price_prod {
          font-size: 16px;
        }
      }
    }
  }
  @include tablet-range(1000, 1439) {
    h2,
    .btn_more {
      font-size: 12px;
      img {
        width: 16px;
        height: 16px;
      }
    }
    article.cart {
      .wrap_img {
        margin-bottom: 23px;
      }
      .description_wrap {
        .description_prod {
          font-size: 10px;
          margin-bottom: 14px;
        }
        .price_prod {
          font-size: 14px;
        }
      }
    }
    .header_block {
      margin-bottom: 20px;
    }
  }
  @include mobile {
    margin-bottom: 45px;
    article.cart {
      .description_wrap {
        width: 100%;
      }
    }
  }
}

// Секция Слайдер картинок
.slider_section {
  padding-top: 0;
  padding-bottom: 0;
  @extend %adaptivePaddingSection;

  .img_slider {
    width: 100%;
    overflow: hidden;
    height: 432px;
  }
  .swiper-slide {
    width: fit-content;
  }
  a {
    // display: block;
    width: fit-content;
  }

  article {
    .wrap_img {
      background-color: rgba(243, 243, 243, 1);
      border-radius: $radiusMiniPc;
      margin-bottom: 35px;
      height: 100%;
      overflow: hidden;
    }
    img {
      width: 100%;
      height: 100%;
      max-height: 432px;
      object-fit: cover;
    }
  }
  @include tablet-range(1440, 1600) {
    h2,
    .btn_more {
      font-size: 14px;
      img {
        width: 18px;
        height: 18px;
      }
    }
    .img_slider {
      height: 350px;
    }
  }
  @include tablet-range(1000, 1439) {
    h2,
    .btn_more {
      font-size: 12px;
      img {
        width: 16px;
        height: 16px;
      }
    }
    .img_slider {
      height: 300px;
    }
    .header_block {
      margin-bottom: 20px;
    }
  }
}

// Секция новая коллекция
.baner_section {
  //   position: relative;
  &.with_radius {
    //max-height: 420px;
    margin: 60px 30px 80px 30px;
    .video_cover {
      border-radius: $radiusMidiPc;
    }
    .description_wrap {
      gap: 0;
    }
    h2 {
      text-transform: none;
      letter-spacing: -3px;
    }
    .header_block {
      bottom: 0;
      display: flex;
      align-items: center;
      height: 100%;
    }
  }
  .video_cover {
    height: 100%;
    &.mobile {
      display: none;
    }
  }
  .wrap {
    position: relative;
  }
  color: rgba(255, 255, 255, 1);
  .header_block {
    @extend %adaptivePaddingSection;
    width: 100%;
    position: absolute;
    bottom: 100px;
    align-items: flex-end;
    margin-bottom: 0;
    gap: 10px;
    .btn_more {
      margin-bottom: 0px;
      color: rgba(255, 255, 255, 1);
    }
  }
  .description_wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  h2 {
    margin: 0;
    font-size: 200px;
    @include fluid-font(80, 200);
    margin-bottom: -5px;
    vertical-align: bottom;
    text-transform: none;
    letter-spacing: -3px;
    &.medium_fs {
      margin-bottom: 60px;
      font-size: 110px;
      @include fluid-font(60, 90);
      @include tablet {
        font-size: 60px;
        margin-bottom: 18px;
      }
      @include mobile {
        font-size: 50px;
        margin-bottom: 0;
      }
    }
  }
  .description {
    // margin-left: 15px;
    font-size: 60px;
    @include fluid-font(24, 50);
    // letter-spacing: 97%;
    font-weight: 400;
    font-weight: 300;
    &.medium_fs {
      font-size: 30px;
      @include fluid-font(20, 30);
      @include tablet {
        font-size: 20px;
      }
      @include mobile {
        font-size: 16px;
        margin-bottom: -20px;
        display: none;
      }
    }
  }
  &.with_padding {
    padding-left: 19px;
    padding-right: 19px;
  }
  @include tablet-range(1601, 1900) {
    h2.medium_fs {
      margin-bottom: 30px;
    }
    .header_block {
      bottom: 70px;
      .btn_more {
        font-size: 21px;
        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
  @include tablet-range(1441, 1600) {
    h2.medium_fs {
      margin-bottom: 28px;
    }
    .header_block {
      bottom: 65px;
      .btn_more {
        font-size: 21px;
        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }

  @include tablet-range(1000, 1440) {
    h2.medium_fs {
      margin-bottom: 26px;
    }
    .header_block {
      bottom: 60px;
      .btn_more {
        font-size: 18px;
        img {
          width: 28px;
          height: 28px;
        }
      }
    }
  }
  @include tablet-range(1000, 1200) {
    .header_block {
      bottom: 45px;
      .btn_more {
        font-size: 16px;
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  @include tablet {
    .wrap {
      height: 780px;
    }
    .header_block {
      bottom: 80px;
    }
    h2 {
      font-size: 80px;
    }
    .description {
      font-size: 24px;
    }
    .video_cover {
      object-position: 31% center;
      &.position_left {
        object-position: 53% center;
      }
      &.position_center {
        object-position: center center;
      }
      &.mobile {
        display: inline;
        object-position: center top;
        height: 100%;
      }
      &.desktop {
        display: none;
      }
    }
  }
  @include mobile(657) {
    h2 {
      font-size: 68px;
      letter-spacing: -3px;
    }
    .video_cover {
      &.position_left {
        object-position: 36% center;
      }
    }
  }
  @include mobile {
    margin-top: 66px;
    &.low_height > .wrap {
      height: 50vh;
    }
    .header_block {
      flex-flow: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 32px;
      bottom: 40px;
    }
    .description_wrap {
      gap: 5px;
    }
    .description {
      font-size: 20px;
      max-width: 270px;
      display: none;
    }
  }
  @include mobile(417) {
    h2 {
      font-size: 80px;
    }
  }
}

// Секция последне новости
.news_section {
  @extend %adaptiveMarginSection;
  .wrap_img {
    position: relative;
    max-height: 500px;
    border-radius: $radiusMiniPc;
    overflow: hidden;
    img {
      width: 100%;
      max-height: 500px;
      object-fit: cover;
    }

    .btn_read_card {
      position: absolute;
      right: 25px;
      bottom: 25px;
      z-index: 1000;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }
  .wrap_news {
    display: flex;
    flex-direction: row;
    gap: 1%;
  }
  .single_news {
    &:hover {
      .btn_read_card {
        opacity: 1;
      }
    }
  }
  .description_wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    margin-top: 29px;
    max-width: 440px;
    margin-left: 9px;
  }
  h3 {
    font-size: 24px;
    font-weight: 400;
  }
  .description_new {
    font-size: 14px;
    color: rgba(77, 77, 77, 1);
    line-height: 1.6;
    margin-right: 15px;
  }
  @include tablet-range(1601, 1900) {
    h3 {
      font-size: 22px;
    }
    .description_wrap {
      margin-top: 24px;
    }
  }
  @include tablet-range(1440, 1600) {
    h2,
    .btn_more {
      font-size: 14px;
      img {
        width: 18px;
        height: 18px;
      }
    }
    .header_block {
      margin-bottom: 24px;
    }
    h3 {
      font-size: 20px;
    }
    .description_wrap {
      margin-top: 22px;
    }
  }

  @include tablet-range(1000, 1439) {
    h2,
    .btn_more {
      font-size: 12px;
      img {
        width: 16px;
        height: 16px;
      }
    }
    .header_block {
      margin-bottom: 20px;
    }
    h3 {
      font-size: 18px;
    }
    .description_wrap {
      margin-top: 20px;
      gap: 12px;
    }
    .description_new {
      font-size: 12px;
    }
  }
  @include tablet-range(1000, 1200) {
    .description_wrap {
      margin-top: 18px;
      gap: 8px;
    }
    h3 {
      font-size: 16px;
    }
    .description_new {
      font-size: 10px;
    }
  }

  @include mobile {
    .description_new {
      line-height: 1.2;
    }
    .description_wrap {
      max-width: 100%;
    }
  }
}

.subscribe_section {
  @extend %adaptiveMarginSection;
  margin-top: 120px;
  h2 {
    font-size: 110px;
    @include fluid-font(55, 100, 1000, 1900);
    text-transform: none;
    line-height: 80%;
    margin-bottom: 110px;
  }
  label {
    flex: 1;
  }
  .subscribe_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  .label-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
    max-width: 1300px;
  }
  .contact-form-input {
    border: none;
    border-bottom: solid 2px rgba(0, 0, 0, 1);
    font-weight: 500;
    font-size: 25px;
    color: #000000;
    outline: 0;
    padding-bottom: 14px;
    background-color: transparent;
    width: 100%;
    max-width: 473px;
    &::placeholder {
      text-transform: uppercase;
      color: rgba(0, 0, 0, 1);
    }
  }
  button {
    border: none;
    background-color: transparent;
  }
  .btn_more {
    font-size: 25px;
    margin-bottom: 0px;
    img {
      width: 40px;
      height: 40px;
    }
  }
  @include tablet-range(1441, 1600) {
    h2 {
      margin-bottom: 100px;
    }
    .contact-form-input {
      font-size: 20px;
      width: 70%;
    }
    .btn_more {
      font-size: 20px;
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
  @include tablet-range(1201, 1440) {
    h2 {
      margin-bottom: 95px;
    }
    .contact-form-input {
      font-size: 18px;
      width: 60%;
    }
    .btn_more {
      font-size: 18px;
      img {
        width: 22px;
        height: 22px;
      }
    }
  }
  @include tablet-range(1000, 1200) {
    margin-top: 95px;
    h2 {
      margin-bottom: 70px;
    }
    .contact-form-input {
      font-size: 16px;
      width: 60%;
    }
    .btn_more {
      font-size: 16px;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
  @include tablet {
    margin-bottom: 170px;
    h2 {
      max-width: 600px;
      font-size: 60px;
    }
    .label-wrap {
      flex-flow: column nowrap;
      align-items: flex-start;
      gap: 120px;
    }
    .subscribe_form {
      flex-flow: column nowrap;
      gap: 120px;
    }
    .btn_more {
      align-self: flex-end;
    }
    label {
      width: 100%;
    }
    .contact-form-input {
      max-width: 100%;
    }
  }
  @include tablet(769) {
  }
  @include mobile {
    margin-bottom: 80px;
    h2 {
      font-weight: 400;
      font-size: 27px;
      line-height: 100%;
      letter-spacing: -0.03em;
      color: #cecece;
      margin-bottom: 49px;
      &::first-line {
        color: #000;
      }
    }
    .label-wrap {
      gap: 77px;
    }
    .contact-form-input {
      font-size: 18px;
    }
    .subscribe_form {
      gap: 60px;
    }
    .btn_more {
      font-size: 20px;
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}

// // Секция доставка и возврат
.delivery_section {
  border-top: 1px solid rgba(234, 228, 224, 1);
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 200px;
  padding-top: 30px;
  .wrap {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
  }
  .col {
    align-items: flex-start;
    &.text {
      max-width: 300px;
    }
    &.img {
      width: fit-content;
      display: flex;
      align-items: center;
    }
  }
  .col > img {
    object-fit: cover;
    border-radius: $radiusMidiPc;
    max-width: 600px;
    width: 100%;
  }
  h3 {
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 36px;
    font-weight: 400;
    text-align: left;
    width: 100%;
  }
  h4 {
    font-weight: 600;
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    height: 100%;
    li {
      padding-left: 8px;
      border-left: 1px solid rgba(234, 228, 224, 1);
      font-style: 16px;
      line-height: 1.3;
    }
  }
}

//   Секция обратная форма
.contact_us_section {
  margin-bottom: 120px;
  .wrap {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    gap: 20px;
    margin: 0 30px;
  }
  .col {
    flex: 1 1 300px;
    .wrap_col {
      max-width: 480px;
      margin-left: auto;
      margin-right: auto;
    }
    .pre_title {
      font-size: 16px;
      font-weight: 500;
      color: rgba(173, 173, 173, 1);
      margin-bottom: 12px;
      text-align: center;
    }
    h2 {
      font-size: 36px;
      font-weight: 500;
      margin-bottom: 20px;
      text-align: center;
    }
    .description {
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 64px;
      color: rgba(102, 112, 133, 1);
      text-align: center;
    }
  }
  .wrap_img {
    border-radius: $radiusMidiPc;
    overflow: hidden;
    height: 100%;
  }
  .img_cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  h2 {
    text-transform: none;
  }
  .contact_us_form {
    label {
      display: flex;
      flex-flow: column nowrap;
      gap: 6px;
      font-size: 12px;
      width: 100%;
      margin-bottom: 24px;

      &.form-privacy {
        flex-flow: row nowrap;
        align-items: center;
        input {
          width: auto;
        }
        a {
          color: rgba(52, 64, 84, 1);
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    input,
    textarea {
      padding: 12px 16px;
      border-radius: 12px;
      border: 1px solid rgba(208, 213, 221, 1);
      font-size: 12px;
      width: 100%;
      &::placeholder {
        color: rgba(102, 112, 133, 1);
      }
    }
    .names_wrap {
      display: flex;
      flex-flow: row nowrap;
      gap: 6%;
      justify-content: space-between;
    }
    .contact-form-textarea {
      resize: none;
      height: 130px;
    }
    .iti__search-input {
      border: none !important;
      outline: none;
      &:focus-visible {
        border: none !important;
        outline: none;
      }
    }
    .submit_but {
      width: 100%;
    }
  }
}

// Секция История

.story_section {
  .wrap {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-flow: row nowrap;
    gap: 8%;
    & > .col {
      display: flex;
      flex-direction: column;
      gap: 40px;
      &:first-child {
        display: block;
        width: 32%;
      }
      &:nth-child(2) {
        width: 32%;
        gap: 96px;
      }
      &:last-child {
        width: 20%;
      }
    }
  }
  .wrap_img {
    overflow: hidden;
    border-radius: $radiusMidiPc;
  }
  img {
    width: 100%;
    object-fit: cover;
  }
  h2 {
    font-size: 80px;
    text-align: left;
    text-transform: none;
  }
  .caption {
    font-size: 16px;
    width: 60%;
  }
  p {
    line-height: 1.6;
  }
}
