.single_page {
  .baner_section {
    &.contacts_page {
      .header_block {
        span {
          display: none;
        }
      }
      .description {
        @include fz_40;
      }
      &.with_radius {
        margin-top: 0;
        h2 {
          @include fz_120;
        }
      }
    }
  }
  .сontact_details {
    border-top: 1px solid rgba(234, 228, 224, 1);
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 200px;
    padding-top: 30px;
    .col {
      max-width: 405px;
      img {
        width: 48px;
        height: 48px;
        margin-bottom: 24px;
      }
      .link {
        margin-top: 24px;
        @include fz_16;
        text-decoration: underline;
        &:hover {
          opacity: 0.7;
        }
      }
      h3 {
        margin-bottom: 16px;
        @include fz_32;
        font-weight: 500;
      }
    }
    .description {
      font-weight: 400;
      @include fz_16;
      line-height: 150%;
      text-align: center;
      color: #000;
    }
  }
  @include desktop(1400) {
    .сontact_details {
      margin-bottom: 175px;
    }
    .contact_us_section {
      margin-bottom: 110px;
    }
  }
  @include desktop(1200) {
    .сontact_details {
      margin-bottom: 160px;
    }
    .contact_us_section {
      margin-bottom: 100px;
    }
  }
  @include tablet {
    // Верхняя секция
    .baner_section {
      &.contacts_page {
        margin: 0;
        .header_block {
          left: 30px;
          top: 45px;
          height: fit-content;
          width: fit-content;
          align-items: flex-start;
          span {
            display: inline;
          }
        }
        .description {
          display: none;
        }
        &.with_radius {
          .video_cover {
            border-radius: 0;
          }
          h2 {
            font-size: 40px;
          }
        }
      }
    }
    .сontact_details {
      border-top: none;
      padding-top: 40px;
      margin-bottom: 112px;
      margin-left: 17px;
      margin-right: 17px;
      .three_columns {
        gap: 40px;
      }
      .description {
        font-size: 16px;
        br {
          display: none;
        }
      }
      .col {
        .link {
          font-size: 16px;
        }
        h3 {
          font-size: 32px;
        }
      }
    }
  }
}

// Страница Новости
.news_page {
  section {
    &.news_section {
      margin-bottom: 120px;
    }
    &.subscribe_section {
      margin-bottom: 130px;
    }
    &.news_list {
      margin-left: 30px;
      margin-right: 30px;
      margin-bottom: 160px;
      .footer_news {
        margin-top: 100px;
      }
    }
  }
  h1 {
    font-size: 200px;
    font-weight: 300;
    padding-bottom: 60px;
    margin-left: -13px;
  }
  .post_h1_title {
    font-size: 18px;
    font-weight: 500;
    max-width: 730px;
    line-height: 2;
    margin-bottom: 40px;
  }
  .buttons_block {
    display: flex;
    gap: 12px;
    flex-flow: row wrap;
    width: fit-content;
    justify-content: space-between;
  }
  .all_news {
    h3 {
      font-size: 30px;
      margin-top: 40px;
    }
    margin-top: 80px;
    .wrap {
      display: flex;
      gap: 30px;
      .col {
        flex: 1;
      }
    }
    .description_wrap {
      margin-left: 9px;
    }
    .wrap_img {
      position: relative;
      border-radius: $radiusMidiPc;

      .news_category {
        color: rgba(255, 255, 255, 1);
        text-transform: uppercase;
        bottom: 16px;
        left: 20px;
        padding: 12px 15px;
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        border-radius: $radiusMidiPc;
      }
    }
    .description_new {
      color: rgba(77, 77, 77, 1);
      line-height: 1.6;
    }
    .btn_read_news {
      position: absolute;
      top: 30px;
      right: 30px;
      width: 49px;
      height: 49px;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    img {
      width: 100%;
      object-fit: cover;
    }
    .single_news {
      &:hover {
        .btn_read_news {
          opacity: 1;
        }
      }
    }

    &.base {
      h3 {
        font-size: 24px;
        margin-bottom: 15px;
        margin-top: 32px;
      }
      .wrap {
        display: grid;
        gap: 82px 17px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        @media screen and (min-width: 1600px) {
          grid-template-columns: repeat(4, minmax(300px, 1fr));
        }
      }
      .btn_read_news {
        top: 20px;
        right: 20px;
      }
    }
  }
  .news_category {
    position: absolute;
  }
}

.single_news {
  section {
    margin-left: 19px;
    margin-right: 19px;
  }
  h1 {
    margin-bottom: 70px;
    max-width: 1350px;
  }
  .news_category {
    padding: 10px 30px;
    border-radius: $radiusMidiPc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 60px;
    width: fit-content;
    text-transform: uppercase;
  }
  .wrap_header {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 40px;
    margin-bottom: 52px;

    .description_page {
      font-size: 18px;
      font-weight: 600;
      max-width: 800px;
      line-height: 2;
    }
  }
  .baner_section {
    &.top {
      border-radius: $radiusMidiPc;
    }
    &.bottom {
      margin-left: 0;
      margin-right: 0;
    }
  }
  .promoted_product {
    margin-bottom: 170px;
    .wrap {
      display: flex;
      flex-flow: row wrap;
      gap: 5%;

      & > div {
        flex: 1 1 300px;
      }
    }
    h2 {
      font-size: 70px;
      font-weight: 300;
      text-transform: none;
      margin-bottom: 50px;
    }
    .news_category {
      margin-bottom: 45px;
    }
    .excerpt {
      display: flex;
      flex-flow: column nowrap;
      gap: 55px;
      color: rgba(133, 133, 133, 1);
      p {
        line-height: 2;
      }
    }
    .wrap_img {
      border-radius: $radiusMidiPc;
      overflow: hidden;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .main_content {
    h2 {
      font-size: 92px;
      text-transform: none;
      font-weight: 300;
      margin-bottom: 120px;
    }
    .wrap {
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
    }
    p {
      font-size: 30px;
      color: rgba(108, 108, 108, 1);
      margin-bottom: 5%;
      line-height: 1.6;
    }
    img {
      border-radius: $radiusMidiPc;
      width: 100%;
      margin-bottom: 50px;
    }
  }
}
