.single_page {
  .baner_section {
    margin-top: 0;
    &.contacts_page {
      .header_block {
        span {
          display: none;
        }
      }
      .description {
        @include fz_40;
      }
      &.with_radius {
        margin-top: 0;
        h2 {
          @include fz_120;
        }
      }
    }
    &.delivery_page {
      &.with_radius {
        margin-top: 0;
        .header_block {
          align-items: flex-end;
          padding-left: 80px;
          margin-bottom: 65px;
        }
        h2 {
          @include fz_120;
          color: rgba(0, 0, 0, 1);
        }
      }
    }
  }
  .сontact_details {
    border-top: 1px solid rgba(234, 228, 224, 1);
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 200px;
    padding-top: 30px;
    .col {
      max-width: 405px;
      img {
        width: 48px;
        height: 48px;
        margin-bottom: 24px;
      }
      .link {
        margin-top: 24px;
        @include fz_16;
        text-decoration: underline;
        &:hover {
          opacity: 0.7;
        }
      }
      h3 {
        margin-bottom: 16px;
        @include fz_32;
        font-weight: 500;
      }
    }
    .description {
      font-weight: 400;
      @include fz_16;
      line-height: 150%;
      text-align: center;
      color: #000;
    }
  }
  @include desktop(1600) {
    .baner_section {
      &.delivery_page {
        &.with_radius {
          .header_block {
            padding-left: 60px;
            margin-bottom: 50px;
          }
        }
      }
    }
  }
  @include desktop(1400) {
    .сontact_details {
      margin-bottom: 175px;
    }
    .contact_us_section {
      margin-bottom: 110px;
    }
    .baner_section {
      &.delivery_page {
        &.with_radius {
          .header_block {
            padding-left: 50px;
            margin-bottom: 40px;
          }
        }
      }
    }
  }
  @include desktop(1200) {
    .сontact_details {
      margin-bottom: 160px;
    }
    .contact_us_section {
      margin-bottom: 100px;
    }
    .baner_section {
      &.delivery_page {
        &.with_radius {
          .header_block {
            padding-left: 30px;
            margin-bottom: 35px;
          }
        }
      }
    }
  }
  @include tablet {
    // Верхняя секция
    .baner_section {
      &.contacts_page {
        margin: 0;
        .header_block {
          left: 30px;
          top: 45px;
          height: fit-content;
          width: fit-content;
          align-items: flex-start;
          span {
            display: inline;
          }
        }
        .description {
          display: none;
        }
        &.with_radius {
          .video_cover {
            border-radius: 0;
          }
          h2 {
            font-size: 40px;
          }
        }
      }
      &.delivery_page {
        margin: 0;
        .description_wrap {
          width: 100%;
        }
        .wrap {
          height: auto;
          .video_cover {
            min-height: 370px;
          }
        }
        &.with_radius {
          .video_cover {
            border-radius: 0;
          }
          .header_block {
            position: static;
            height: auto;
            margin: 23px;
            align-items: flex-start;
            padding: 0;
            width: fit-content;
          }
        }
        margin-bottom: 72px;
      }
    }
    .сontact_details {
      border-top: none;
      padding-top: 40px;
      margin-bottom: 112px;
      margin-left: 17px;
      margin-right: 17px;
      .three_columns {
        gap: 40px;
      }
      .description {
        font-size: 16px;
        br {
          display: none;
        }
      }
      .col {
        .link {
          font-size: 16px;
        }
        h3 {
          font-size: 32px;
        }
      }
    }
  }
}

// Страница Новости
.news_page {
  section {
    &.news_section {
      margin-bottom: 120px;
    }
    &.subscribe_section {
      margin-top: 7%;
      margin-bottom: 8.5%;
    }
    &.news_list {
      margin-left: 30px;
      margin-right: 30px;
      margin-bottom: 8.5%;
      .footer_news {
        margin-top: 5.5%;
      }
    }
  }
  h1 {
    @include fz_200;
    letter-spacing: -0.03em;
    font-weight: 300;
    padding-bottom: 2%;
    margin-left: -13px;
  }
  .post_h1_title {
    @include fz_18_small;
    font-weight: 500;
    line-height: 189%;
    letter-spacing: -0.03em;
    max-width: 40%;
    line-height: 2;
    margin-bottom: 2.2%;
  }
  .buttons_block {
    display: flex;
    gap: 12px;
    flex-flow: row wrap;
    width: fit-content;
    justify-content: space-between;
  }
  .all_news {
    margin-top: 4.4%;
    h3 {
      @include fz_30_small;
      margin-top: 4.5%;
    }

    .wrap {
      display: flex;
      gap: 30px;
      .col {
        flex: 1;
      }
    }
    .description_wrap {
      margin-left: 9px;
    }
    .wrap_img {
      position: relative;
      border-radius: $radiusMidiPc;

      .news_category {
        @include fz_16;
        color: rgba(255, 255, 255, 1);
        text-transform: uppercase;
        bottom: 0;
        margin-bottom: 16px;
        left: 20px;
        padding: 12px 15px;
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        border-radius: $radiusMidiPc;
        border: none;
      }
    }
    .description_new {
      font-weight: 400;
      @include fz_14;
      line-height: 179%;
      color: #4d4d4d;
      line-height: 1.6;
    }
    .btn_read_news {
      position: absolute;
      top: 30px;
      right: 30px;
      width: 49px;
      height: 49px;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    img {
      width: 100%;
      object-fit: cover;
    }
    .single_news {
      &:hover {
        .btn_read_news {
          opacity: 1;
        }
      }
    }

    &.base {
      h3 {
        font-size: 24px;
        @include fz_24;
        font-weight: 400;
        margin-bottom: 15px;
        margin-top: 32px;
      }
      .wrap {
        display: grid;
        gap: 82px 17px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        @media screen and (min-width: 1600px) {
          grid-template-columns: repeat(4, minmax(300px, 1fr));
        }
      }
      .btn_read_news {
        top: 20px;
        right: 20px;
      }
    }
  }
  .news_category {
    position: absolute;
  }
  @include desktop(1600) {
    .all_news {
      &.base {
        .wrap {
          gap: 60px 15px;
        }
      }
    }
  }
  @include desktop(1400) {
    .all_news {
      &.base {
        .wrap {
          gap: 55px 15px;
        }
      }
    }
  }
  @include desktop(1200) {
    .all_news {
      &.base {
        .wrap {
          gap: 40px 12px;
        }
      }
    }
  }
  @include tablet {
    section {
      &.subscribe_section {
        margin-top: 78px;
        margin-bottom: 78px;
      }
    }
    h1 {
      font-size: 80px;

      margin-left: 0;
      margin-bottom: 15px;
    }
    .post_h1_title {
      max-width: 271px;
      font-weight: 500;
      font-size: 18px;
      line-height: 189%;
      letter-spacing: -0.03em;
      color: rgba(0, 0, 0, 0.5);
      margin-bottom: 33px;
    }
    .btn_filters_news {
      margin-bottom: 43px;
      width: 100%;
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
      font-size: 16px;
    }
    .all_news {
      .wrap_img {
        .news_category {
          font-size: 16px;
        }
      }
      .description_new {
        font-weight: 400;
        font-size: 14px;
        line-height: 179%;
        max-width: 95%;
      }
      &.top {
        display: none;
      }
      &.base {
        .wrap {
          gap: 58px;
          column-gap: 30px;
        }
        h3 {
          font-weight: 400;
          font-size: 22px;
          line-height: 100%;
          margin-top: 26px;
          margin-bottom: 15px;
        }
      }
    }
    section {
      &.news_list {
        margin-left: 17px;
        margin-right: 17px;
      }
    }
    .buttons_block {
      flex-flow: row nowrap;
      width: 100%;
      max-width: 500px;
    }
  }
}

.single_news {
  section {
    margin-left: 30px;
    margin-right: 30px;
  }
  h1 {
    @include fz_100;
    margin-bottom: 3.9%;
    max-width: 76%;
  }
  .news_category {
    @include fz_16;
    padding: 10px 30px;
    border-radius: $radiusMidiPc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    bottom: 0;
    margin-bottom: 1.8%;
    width: fit-content;
    text-transform: uppercase;
  }
  .wrap_header {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 2.1%;
    margin-bottom: 2.8%;

    .description_page {
      font-size: 18px;
      @include fz_18_small;
      font-weight: 600;
      max-width: 44%;
      line-height: 2;
    }
  }
  .baner_section {
    &.top {
      border-radius: $radiusMidiPc;
    }
    &.bottom {
      margin-left: 0;
      margin-right: 0;
    }
  }
  .promoted_product {
    margin-bottom: 9%;
    .wrap {
      display: flex;
      flex-flow: row wrap;
      gap: 5%;
      align-items: flex-start;

      & > div {
        flex: 1 1 300px;
      }
    }
    h2 {
      font-size: 70px;
      @include fz_70_small;
      font-weight: 300;
      text-transform: none;
      margin-bottom: 5.8%;
    }
    .news_category {
      margin-bottom: 45px;
      @include fluid-height(margin-bottom, 45);
    }
    .excerpt {
      @include fz_18_small;
      display: flex;
      flex-flow: column nowrap;
      @include fluid-height(gap, 50);
      color: rgba(133, 133, 133, 1);
      p {
        line-height: 2;
      }
    }
    .wrap_img {
      border-radius: $radiusMidiPc;
      overflow: hidden;
      //   height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .main_content {
    h2 {
      font-size: 96px;
      @include fz_96_small;
      text-transform: none;
      font-weight: 300;
      @include fluid-height(margin-bottom, 120);
    }
    .wrap {
      max-width: 54.4%;
      margin-left: auto;
      margin-right: auto;
    }
    p {
      font-size: 30px;
      @include fz_30_small;
      color: rgba(108, 108, 108, 1);
      @include fluid-height(margin-bottom, 49);
      line-height: 1.6;
    }
    img {
      border-radius: $radiusMidiPc;
      width: 100%;
      margin-bottom: calc(100vw * (50 / 1920));
    }
  }
  @include desktop(1600) {
    .news_category {
      padding: 10px 26px;
    }
  }
  @include desktop(1400) {
    .news_category {
      padding: 10px 24px;
    }
  }
  @include desktop(1200) {
    .news_category {
      padding: 8px 22px;
      border-radius: 8px;
    }
  }
  @include tablet {
    section {
      margin-left: 19px;
      margin-right: 19px;
    }
    h1 {
      font-weight: 400;
      font-size: 35px;
      line-height: 111%;
      letter-spacing: -0.03em;
      max-width: 320px;
      margin-bottom: 25px;
    }
    .news_category {
      display: none;
    }
    .wrap_header {
      padding-left: 19px;
      padding-right: 19px;
      .description_page {
        font-weight: 500;
        font-size: 14px;
        line-height: 214%;
        letter-spacing: -0.03em;
        color: rgba(0, 0, 0, 0.5);
        max-width: 100%;
        margin-bottom: 79px;
        max-width: 300px;
      }
    }
    .baner_section {
      &.top {
        margin: 0;
        margin-bottom: 76px;
      }
    }
    .promoted_product {
      .wrap {
        gap: 56px;
        flex-direction: column;
      }
      h2 {
        font-weight: 400;
        font-size: 35px;
        line-height: 117%;
        letter-spacing: -0.03em;
        color: #000;
        margin-bottom: 40px;
      }
      .news_category {
        display: block;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: -0.03em;
        margin-bottom: 46px;
      }
      .excerpt {
        font-weight: 500;
        font-size: 14px;
        line-height: 264%;
        letter-spacing: -0.03em;
        color: #858585;
        gap: 30px;
        p {
          line-height: 264%;
        }
      }
    }
    .main_content {
      .wrap {
        max-width: 100%;
      }
      h2 {
        font-weight: 400;
        font-size: 35px;
        line-height: 117%;
        letter-spacing: -0.03em;
        color: #000;
        margin-bottom: 40px;
      }
      p {
        font-weight: 500;
        font-size: 14px;
        line-height: 264%;
        letter-spacing: -0.03em;
        color: #858585;
        gap: 30px;
        margin-bottom: 30px;
      }
      img {
        margin-bottom: 30px;
      }
    }
  }
}
