// заполнители
%adaptivePaddingSection {
  padding-left: 19px;
  padding-right: 19px;
  @include tablet {
    padding-left: 13px;
    padding-right: 13px;
  }
}
%adaptiveMarginSection {
  margin-left: 19px;
  margin-right: 19px;
  @include tablet {
    margin-left: 13px;
    margin-right: 13px;
  }
}
