// $min-size / $max-size — любые одинаковые единицы (px, rem, em)
// $min-vw / $max-vw — диапазон экрана, где идёт рост (по умолчанию 375–1440px)
@mixin fluid-font(
  $min-size,
  $max-size,
  $min-vw: $screen-medium,
  $max-vw: $screen-larger
) {
  font-size: clamp(
    #{$min-size}px,
    calc(
      #{$min-size}px + (#{$max-size} - #{$min-size}) *
        ((100vw - #{$min-vw}px) / (#{$max-vw} - #{$min-vw}))
    ),
    #{$max-size}px
  );
}

// медиазапросы

@mixin mobile($max: $screen-small) {
  @media screen and (max-width: #{$max}px) {
    @content;
  }
}

@mixin desktop($max: $screen-larger) {
  @media screen and (min-width: (#{$screen-medium}px)) and (max-width: #{$max}px) {
    @content;
  }
}

@mixin tablet-range($min: $screen-medium, $max: $screen-larger) {
  @media screen and (min-width: (#{$min}px)) and (max-width: #{$max}px) {
    @content;
  }
}

@mixin tablet($max: $screen-medium) {
  @media screen and (max-width: #{$max}px) {
    @content;
  }
}

// Расыты высоты от ширины
@mixin fluid-height($prop, $val) {
  @media screen and (min-width: 1000px) {
    #{$prop}: calc(100vw * (#{$val} / 1920));
  }
}

// Размеры шрифтов
@mixin fz_500 {
  font-size: 500px;
  @include fluid-font(200, 500);
}
@mixin fz_200 {
  font-size: 200px;
  @include fluid-font(100, 200);
}
@mixin fz_120 {
  font-size: 120px;
  @include fluid-font(60, 120);
}
@mixin fz_100 {
  font-size: 100px;
  @include fluid-font(50, 100);
}
@mixin fz_99 {
  font-size: 100px;
  @include fluid-font(40, 99);
}
@mixin fz_110 {
  font-size: 110px;
  @include fluid-font(60, 110);
}
@mixin fz_96_small {
  font-size: 110px;
  @include fluid-font(48, 96);
}
@mixin fz_80 {
  font-size: 80px;
  @include fluid-font(40, 80);
}
@mixin fz_70_small {
  font-size: 70px;
  @include fluid-font(35, 70);
}
@mixin fz_55 {
  font-size: 55px;
  @include fluid-font(25, 55);
}
@mixin fz_40 {
  font-size: 40px;
  @include fluid-font(18, 40);
}
@mixin fz_36 {
  font-size: 36px;
  @include fluid-font(16, 36);
}
@mixin fz_32 {
  font-size: 32px;
  @include fluid-font(18, 32);
}
@mixin fz_30_small {
  font-size: 30px;
  @include fluid-font(15, 30);
}
@mixin fz_25 {
  font-size: 25px;
  @include fluid-font(18, 25);
}
@mixin fz_24 {
  font-size: 24px;
  @include fluid-font(16, 24);
}
@mixin fz_20 {
  font-size: 20px;
  @include fluid-font(16, 20);
}
@mixin fz_18 {
  font-size: 18px;
  @include fluid-font(14, 18);
}
@mixin fz_18_small {
  font-size: 18px;
  @include fluid-font(9, 18);
}
@mixin fz_16 {
  font-size: 16px;
  @include fluid-font(10, 16);
}
@mixin fz_16_small {
  font-size: 16px;
  @include fluid-font(8, 16);
}
@mixin fz_14 {
  font-size: 14px;
  @include fluid-font(10, 14);
}
