$accentColor: rgba(20, 73, 24, 1);

$textColor: rgba(0, 0, 0, 1);
$UiBackgroundColor: rgba(217, 217, 217, 0.3);

$radiusMiniPc: 10px;
$radiusMidiPc: 12px;

// Точки останова

$screen-small: 560;
$screen-medium: 1000;
$screen-larger: 1900;
