// заполнители
%adaptivePaddingSection {
  padding-left: 19px;
  padding-right: 19px;
  @include tablet {
    padding-left: 8px;
    padding-right: 8px;
  }
}
%adaptiveMarginSection {
  margin-left: 19px;
  margin-right: 19px;
  @include tablet {
    margin-left: 8px;
    margin-right: 8px;
  }
}

// Размеры шрифтов
%fz_100 {
  font-size: 100px;
  @include fluid-font(50, 100);
}
